In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
nielsen15 = pd.read_csv('../../../Nielsen/aggregated_nielsen_2015.csv')
nielsen16 = pd.read_csv('../../../Nielsen/aggregated_nielsen_2016.csv')
nielsen15['year'] = 2015
nielsen16['year'] = 2016

In [7]:
nielsen = pd.concat((nielsen15, nielsen16))

In [8]:
nielsen.head()

,is_walmart,store_state,guessed_store_county,guessed_store_county_fips,purchase_year,purchase_month,product_group_descr,upc_price,upc_price_std,nb_of_obs,year
0,False,AL,AUTAUGA,1001,2015,1,BREAD AND BAKED GOODS,1.811250,0.698211,8,2015
1,False,AL,AUTAUGA,1001,2015,1,BREAKFAST FOOD,3.723333,0.550757,3,2015
2,False,AL,AUTAUGA,1001,2015,1,CANDY,2.000000,NaN,1,2015
3,False,AL,AUTAUGA,1001,2015,1,CARBONATED BEVERAGES,1.698889,0.988831,9,2015
4,False,AL,AUTAUGA,1001,2015,1,CEREAL,2.420000,0.080000,3,2015

In [9]:
len(nielsen.guessed_store_county_fips.unique())

2563

In [11]:
nielsen.nb_of_obs.describe()

count    5.858025e+06
mean     1.565508e+01
std      6.114036e+01
min      1.000000e+00
25%      2.000000e+00
50%      4.000000e+00
75%      1.100000e+01
max      8.969000e+03
Name: nb_of_obs, dtype: float64

In [14]:
nielsen.groupby(['is_walmart', 'guessed_store_county_fips', 'product_group_descr']).count().upc_price.describe()

count    405519.000000
mean         14.445747
std           8.628185
min           1.000000
25%           6.000000
50%          16.000000
75%          24.000000
max          24.000000
Name: upc_price, dtype: float64

In [20]:
nielsen.groupby('product_group_descr').sum().nb_of_obs.describe()

count    1.180000e+02
mean     7.771850e+05
std      1.197041e+06
min      2.730000e+02
25%      1.269560e+05
50%      3.885490e+05
75%      7.876950e+05
max      9.750427e+06
Name: nb_of_obs, dtype: float64

In [21]:
len(nielsen.product_group_descr.unique())

118