In [4]:
import pandas as pd

uscities = pd.read_csv('uscities.csv')
df = pd.read_csv('../../data_collection/plein_de_data/fandom_trait√©es.csv')
t=0
for state in df.State.unique():
    print(state)
    s=0
    for city in df[df.State == state].Town.unique():
        if city not in uscities[uscities.state_id == state].city.unique():
            print(city)
            s+=1
    print(s)
    t+=s
print(t)

AL
0
AK
0
AZ
0
AR
0
CA
0
CO
0
CT
Milford city
1
DE
0
DC
0
FL
0
GA
0
HI
0
ID
0
IL
0
IN
0
IA
0
KS
0
KY
0
LA
0
ME
Falmouth
Farmington
Houlton
Lincoln
Mexico
Oxford
Palmyra
Scarborough
Skowhegan
Thomaston
Windham
11
MD
Hanover
LaVale
Nottingham
3
MA
Abington
Avon
Bellingham
Chelmsford
Danvers
Fairhaven
Hadley
Halifax
Hudson
Leicester
Lunenburg
Methuen
North Attleboro
North Dartmouth
North Oxford
North Reading
Northborough
Orange
Plymouth
Raynham
Saugus
Seekonk
Sturbridge
Swansea
Tewksbury
Walpole
Ware
Wareham
West Boylston
Weymouth
Hanover
31
MI
Canton
Chesterfield
Clinton Township
Commerce
Fort Gratiot
Jonesboro
New Hudson
Saint Johns
Sault Sainte Marie
Shelby Township
Van Buren Twp.
White Lake
Ysplanti
13
MN
0
MS
0
MO
Lake Saint Louis
Lees Summit
Saint Charles
Saint Joseph
Saint Louis
Saint Peters
Saint Robert
7
MT
0
NE
0
NV
0
NH
Amherst
Derry
Epping
Gilford
Gorham
Hinsdale
Hooksett
Hudson
Littleton
Newington
Plaistow
Plymouth
Rindge
Salem
Seabrook
Tilton
West Lebanon
Bedford
18
NJ
Burlington
Cherry Hill
2
NM
0
NY
0
NC
0
ND
0
OH
0
OK
0
OR
0
PA
0
RI
0
SC
0
SD
0
TN
0
TX
0
UT
0
VT
0
VA
0
WA
0
WV
0
WI
0
WY
0
86

In [6]:
df.groupby('State').count()

       Store_id  Town  Street  Category  Opening_date  Closing_date
State
AK           10    10      10        10            10             1
AL          141   141     141       141           134            10
AR          136   136     136       136           125            16
AZ          115   115     115       115           115             3
CA          296   296     296       296           296            18
CO           96    96      96        96            96             7
CT           37    37      37        37            36             5
DC            3     3       3         3             3             0
DE            9     9       9         9             9             0
FL          343   343     343       343           340             3
GA          200   200     200       200           193            11
HI           10    10      10        10            10             0
IA           60    60      60        60            60             0
ID           26    26      26        26            26             0
IL          166   166     166       166           163             6
IN          115   115     115       115           114             2
KS           84    84      84        84            78            10
KY           97    97      97        97            97             5
LA          135   135     135       135           127            10
MA           49    49      49        49            49             1
MD           49    49      49        49            49             2
ME           22    22      22        22            22             0
MI           96    96      96        96            96             2
MN           70    70      70        70            70             2
MO          143   143     143       143           139             6
MS           85    85      85        85            79             7
MT           14    14      14        14            14             0
NC          212   212     212       212           196            20
ND           14    14      14        14            14             0
NE           42    42      42        42            42             0
NH           27    27      27        27            27             1
NJ           65    65      65        65            65             3
NM           46    46      46        46            46             0
NV           44    44      44        44            44             1
NY          101   101     101       101           101             2
OH          150   150     150       150           149             6
OK          129   129     129       129           129             8
OR           48    48      48        48            48             3
PA          139   139     139       139           139             3
RI            9     9       9         9             9             0
SC          114   114     114       114           113             5
SD           15    15      15        15            15             0
TN          145   145     145       145           140             9
TX          556   556     556       556           534            40
UT           54    54      54        54            54             3
VA          139   139     139       139           139             5
VT            6     6       6         6             6             0
WA           67    67      67        67            67             2
WI           93    93      93        93            93             4
WV           40    40      40        40            40             1
WY           12    12      12        12            12             0