In [1]:
import pandas as pd
import datetime

In [28]:
df[(df.State=='MS')&(df.Category=='Walmart')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2315,176,MS,Ripley,822 City Ave. S,Walmart,1977-07-01,NaT
2287,274,MS,Iuka,1110 Battleground Dr.,Walmart,1979-08-21,NaT
2285,411,MS,Houston,660 E Madison St.,Walmart,1982-08-03,NaT

In [ ]:
df[df.State=='MS']

In [67]:
df[(df.State=='MS')&(df.Closing_date.dt.year>=2016)]

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date]
Index: []

In [68]:
df[(df.State=='MS')&(df.Opening_date.dt.year>=2016)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2253,4586,MS,Biloxi,1820-A Popps Ferry Rd.,Neighborhood Market,2016-06-01,NaT
2258,6469,MS,Byram,131 Handley Boulevard,Walmart Supercenter,2016-01-27,NaT
2275,6165,MS,Gulfport,1733 East Pass Rd.,Neighborhood Market,2016-01-13,NaT
2284,6964,MS,Horn Lake,4150 Goodman Road West,Walmart Supercenter,2016-01-27,NaT
2296,3990,MS,Meridian,3310-A Highway 39 North,Neighborhood Market,2017-04-12,NaT
2302,5776,MS,Ocean Springs,6412 Washington Avenue,Neighborhood Market,2016-11-02,NaT
2318,5459,MS,Starkville,105 Market Street,Neighborhood Market,2018-01-17,NaT
2320,4619,MS,Tupelo,316 S Gloster Street,Neighborhood Market,2016-08-03,NaT
2328,3060,MS,Yazoo City,2129 Grand Avenue,Walmart Supercenter,2017-03-15,NaT

In [49]:
df[df.State=='MS'].groupby('Town')['Town'].count()

Town
Amory         1
Batesville    1
Belmont       1
Biloxi        3
Booneville    1
             ..
Waveland      1
Waynesboro    1
West Point    1
Wiggins       1
Yazoo City    1
Name: Town, Length: 71, dtype: int64

In [33]:
df[df.Store_id=='1025']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2295,1025,MS,McComb,1608 Veterans Blvd.,Walmart Supercenter,1987-04-28,NaT

In [30]:
pd.set_option('display.max_rows', None)

In [67]:
import pandas as pd

df = pd.read_csv('walmart_opening_1962_2006.csv')
df['year'] = df['opendate'].str[:4]
df.head(10)

,opendate,st.address,city,state,long,lat,type,year
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter,1962
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter,1962
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter,1964
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter,1965
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore,1967
5,1967-10-01,1621 NORTH BUSINESS 9,Morrilton,AR,-92.758580,35.156491,SuperCenter,1967
6,1968-03-01,1303 SOUTH MAIN,Sikeston,MO,-89.583550,36.891163,SuperCenter,1968
7,1968-03-01,65 WAL-MART DRIVE,Mountain Home,AR,-92.357810,36.329026,SuperCenter,1968
8,1968-07-01,2020 SOUTH MUSKOGEE,Tahlequah,OK,-94.971850,35.923658,SuperCenter,1968
9,1968-07-01,1500 LYNN RIGGS BLVD,Claremore,OK,-95.611920,36.327143,SuperCenter,1968

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(30,5))
plt.bar(df.year.value_counts().sort_index().index, df.year.value_counts().sort_index().values)
plt.title("Openings of Walmart throug time")

In [49]:
df.State.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
import datetime
date = datetime.date(2456,1, 23)
type(date)

datetime.date

In [69]:
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [95]:
date = datetime.date(2001,0,0)

ValueError: month must be in 1..12

In [108]:
len(df[df.Opening_date=='unknown'])

85

In [57]:

import pandas as pd
df = pd.read_csv('fandom_traitées.csv')


for index, row in df.iterrows():
    print(type(row['Opening_date']))
    break
    if type(row['Opening_date'])!=datetime:
        print(row['Opening_date'])

<class 'str'>

In [47]:
df3[(df3.state=="IL") & (df3.type=="DistributionCenter")].head(20)

,opendate,st.address,city,state,long,lat,type
2319,1997-03-01,3801 E US Hwy 50,Olney,IL,-88.131304,38.712131,DistributionCenter
2667,2001-03-01,3110 Illinois Hwy 89,Spring Valley,IL,-89.221430,41.352201,DistributionCenter

In [52]:
df_MO[df_MO.Opening_date.dt.year==2001]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
1428,2817,IL,Lansing,17625 Torrence Ave.,Walmart Supercenter,2001-01-24,NaT
1483,3255,IL,Savoy,505 S Dunlap Ave.,Walmart Supercenter,2001-08-15,NaT
1490,3210,IL,Springfield,2760 N Dirksen Pkwy,Walmart Supercenter,2001-10-24,NaT

In [69]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
for state in df.State.unique():
    df_MO = df[df.State == state]
    print(f"{state} -- 2016\n{df_MO.loc[(df.Opening_date <= '2016-01-31') | (df.Closing_date>='2016-01-31')].groupby('Category')['Category'].count()}")
    #print(f"{state} -- 2017 {df_MO.loc[(df.Opening_date <= '2017-01-31') | (df.Closing_date>='2017-01-31')].groupby('Category')['Category'].count()}")

AL -- 2016
Category
Clinic Pharmacy            1
Convenience with Fuel      1
Neighborhood Market       25
Walmart                    1
Walmart Supercenter      101
Name: Category, dtype: int64
AK -- 2016
Category
Walmart                2
Walmart Supercenter    8
Name: Category, dtype: int64
AZ -- 2016
Category
Neighborhood Market    27
Walmart                 2
Walmart Supercenter    80
Name: Category, dtype: int64
AR -- 2016
Category
Clinic Pharmacy         3
Neighborhood Market    30
Walmart                 9
Walmart Supercenter    76
Name: Category, dtype: int64
CA -- 2016
Category
Neighborhood Market     67
Walmart                 72
Walmart Supercenter    140
Name: Category, dtype: int64
CO -- 2016
Category
Convenience with Fuel     1
Neighborhood Market      17
Walmart                   5
Walmart Supercenter      69
Name: Category, dtype: int64
CT -- 2016
Category
Neighborhood Market     2
Walmart                22
Walmart Supercenter    12
Name: Category, dtype: int64
DE -- 2016
Category
Walmart                3
Walmart Supercenter    6
Name: Category, dtype: int64
DC -- 2016
Category
Walmart Supercenter    3
Name: Category, dtype: int64
FL -- 2016
Category
Clinic Pharmacy          2
Neighborhood Market     74
Walmart                  9
Walmart Supercenter    224
Name: Category, dtype: int64
GA -- 2016
Category
Clinic Pharmacy          2
Neighborhood Market     28
Walmart                  2
Walmart Supercenter    152
Name: Category, dtype: int64
HI -- 2016
Category
Walmart    10
Name: Category, dtype: int64
ID -- 2016
Category
Neighborhood Market     2
Walmart Supercenter    23
Name: Category, dtype: int64
IL -- 2016
Category
Neighborhood Market      5
Walmart                 18
Walmart Supercenter    138
Name: Category, dtype: int64
IN -- 2016
Category
Clinic Pharmacy         1
Neighborhood Market    10
Walmart                 7
Walmart Supercenter    96
Name: Category, dtype: int64
IA -- 2016
Category
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KS -- 2016
Category
Neighborhood Market    14
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KY -- 2016
Category
Clinic Pharmacy         1
Neighborhood Market     6
Walmart                 9
Walmart Supercenter    76
Name: Category, dtype: int64
LA -- 2016
Category
Neighborhood Market    29
Walmart                 3
Walmart Supercenter    88
Name: Category, dtype: int64
ME -- 2016
Category
Walmart                 3
Walmart Supercenter    19
Name: Category, dtype: int64
MD -- 2016
Category
Walmart                18
Walmart Supercenter    30
Name: Category, dtype: int64
MA -- 2016
Category
Walmart                22
Walmart Supercenter    27
Name: Category, dtype: int64
MI -- 2016
Category
Walmart                 4
Walmart Supercenter    90
Name: Category, dtype: int64
MN -- 2016
Category
Walmart                 5
Walmart Supercenter    65
Name: Category, dtype: int64
MS -- 2016
Category
Neighborhood Market     5
Walmart                 3
Walmart Supercenter    64
Name: Category, dtype: int64
MO -- 2016
Category
Neighborhood Market     15
Walmart                 11
Walmart Supercenter    111
Name: Category, dtype: int64
MT -- 2016
Category
Walmart Supercenter    13
Name: Category, dtype: int64
NE -- 2016
Category
Neighborhood Market     7
Walmart Supercenter    35
Name: Category, dtype: int64
NV -- 2016
Category
Neighborhood Market    11
Walmart                 2
Walmart Supercenter    30
Name: Category, dtype: int64
NH -- 2016
Category
Walmart                 8
Walmart Supercenter    19
Name: Category, dtype: int64
NJ -- 2016
Category
Walmart                29
Walmart Supercenter    30
Name: Category, dtype: int64
NM -- 2016
Category
Neighborhood Market     7
Walmart                 2
Walmart Supercenter    35
Name: Category, dtype: int64
NY -- 2016
Category
Neighborhood Market     1
Walmart                16
Walmart Supercenter    81
Name: Category, dtype: int64
NC -- 2016
Category
Neighborhood Marker      1
Neighborhood Market     39
Walmart                  7
Walmart Supercenter    140
Name: Category, dtype: int64
ND -- 2016
Category
Walmart Supercenter    14
Name: Category, dtype: int64
OH -- 2016
Category
Walmart                  9
Walmart Supercenter    139
Name: Category, dtype: int64
OK -- 2016
Category
Neighborhood Market    31
Walmart                 9
Walmart Supercenter    79
Name: Category, dtype: int64
OR -- 2016
Category
Neighborhood Market     9
Walmart                 8
Walmart Supercenter    28
Name: Category, dtype: int64
PA -- 2016
Category
Walmart                 22
Walmart Supercenter    115
Name: Category, dtype: int64
RI -- 2016
Category
Walmart                4
Walmart Supercenter    5
Name: Category, dtype: int64
SC -- 2016
Category
Neighborhood Market    18
Walmart Express         1
Walmart Supercenter    81
Name: Category, dtype: int64
SD -- 2016
Category
Walmart Supercenter    14
Name: Category, dtype: int64
TN -- 2016
Category
Neighborhood Market     17
Walmart                  3
Walmart Supercenter    115
Name: Category, dtype: int64
TX -- 2016
Category
Clinic Pharmacy          3
Neighborhood Market     84
Walmart                 21
Walmart Supercenter    375
Name: Category, dtype: int64
UT -- 2016
Category
Neighborhood Market     9
Walmart Pickup          2
Walmart Supercenter    41
Name: Category, dtype: int64
VT -- 2016
Category
Walmart                3
Walmart Supercenter    2
Name: Category, dtype: int64
VA -- 2016
Category
Neighborhood Market     16
Walmart                  5
Walmart Supercenter    106
Name: Category, dtype: int64
WA -- 2016
Category
Neighborhood Market     4
Walmart                10
Walmart Supercenter    52
Name: Category, dtype: int64
WV -- 2016
Category
Clinic Pharmacy         1
Walmart Supercenter    39
Name: Category, dtype: int64
WI -- 2016
Category
Neighborhood Market     2
Walmart                 5
Walmart Supercenter    83
Name: Category, dtype: int64
WY -- 2016
Category
Walmart Supercenter    12
Name: Category, dtype: int64

In [61]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
df_MO = df[df.State == 'MS']
print(df_MO.loc[(df.Opening_date <= '2016-01-31') | (df.Closing_date>='2016-01-31')].groupby('Category')['Category'].count())
#print(df_MO.loc[(df.Opening_date <= '2016-01-31') & (df.Closing_date>='2016-01-31')].groupby('Category')['Category'].count())
#df_MO[df_MO.Closing_date.notnull()]
#print(df_MO.loc[(df.Opening_date <= '2017-01-31') | (df.Closing_date>'2017-01-31')].groupby('Category')['Category'].count())
df_MO[df_MO.Category=='Neighborhood Market'].sort_values('Opening_date')

Category
Neighborhood Market     5
Walmart                 3
Walmart Supercenter    64
Name: Category, dtype: int64

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2283,3593,MS,Horn Lake,2401 Goodman Rd. W,Neighborhood Market,2002-08-07,NaT
2254,6849,MS,Biloxi,2050 Pass Road,Neighborhood Market,2014-11-05,NaT
2267,6166,MS,D'Iberville,10290 D'Iberville Rd.,Neighborhood Market,2014-11-05,NaT
2276,6323,MS,Gulfport,11333 Highway 49,Neighborhood Market,2015-06-10,NaT
2275,6165,MS,Gulfport,1733 East Pass Rd.,Neighborhood Market,2016-01-13,NaT
2253,4586,MS,Biloxi,1820-A Popps Ferry Rd.,Neighborhood Market,2016-06-01,NaT
2320,4619,MS,Tupelo,316 S Gloster Street,Neighborhood Market,2016-08-03,NaT
2302,5776,MS,Ocean Springs,6412 Washington Avenue,Neighborhood Market,2016-11-02,NaT
2296,3990,MS,Meridian,3310-A Highway 39 North,Neighborhood Market,2017-04-12,NaT
2318,5459,MS,Starkville,105 Market Street,Neighborhood Market,2018-01-17,NaT
4721,3856,MS,Belmont,410 2nd St,Neighborhood Market,NaT,2016-01-17
4722,4294,MS,Derma,519 W Veterans Ave,Neighborhood Market,NaT,2016-01-17
4723,3863,MS,Mantachie,2795 Hwy 371 N,Neighborhood Market,NaT,2016-01-17
4724,4296,MS,Nettleton,7104 Will Robbins Hwy,Neighborhood Market,NaT,2016-01-17
4725,3865,MS,Sardis,420 E Lee St,Neighborhood Market,NaT,2016-01-17
4726,3866,MS,Walnut,28191 Hwy 15,Neighborhood Market,NaT,2016-01-17

In [4]:
df.loc[(df.Closing_date>='2016-01-31') & (df.Closing_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AK    1
CT    1
IL    1
MO    2
TX    1
Name: Store_id, dtype: int64

In [103]:
df[(df.Opening_date.dt.month==1) & (df.Opening_date.dt.day==31) & (df.Opening_date.dt.year > 2015)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
345,241,AR,Rogers,4206 S Pleasant Crossing Blvd.,Convenience with Fuel,2017-01-31,NaT
995,6149,FL,Orlando,13801 Landstar and Arbor Meadows Blvd.,Neighborhood Market,2018-01-31,NaT
3557,377,SC,Sumter,343 Pinewood Rd.,Neighborhood Market,2018-01-31,NaT
3737,2466,TX,Arlington,4851 S Cooper Street,Convenience with Fuel,2019-01-31,NaT

In [98]:
df.loc[(df.Opening_date>='2016-01-31') & (df.Opening_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AL     5
AR     5
AZ     1
CA     4
CO     1
FL    18
GA     3
ID     1
IL     1
IN     1
KY     3
LA     3
MO     1
MS     3
NC     5
NJ     2
NM     2
OK     4
PA     1
SC     9
SD     1
TN     4
TX    21
VA     5
VT     1
Name: Store_id, dtype: int64

In [40]:
df[df.Category=='Walmart'][df.State=='TX'].sort_values('Opening_date')

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_684/2736168148.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Category=='Walmart'][df.State=='TX'].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3775,283,TX,Bridge City,795 Texas Ave.,Walmart,1980-02-26,NaT
4067,293,TX,Navasota,1712 E Washington Ave.,Walmart,1980-05-28,NaT
4040,320,TX,Marlin,600 S State Highway 6,Walmart,1980-10-14,NaT
3824,385,TX,Cuero,1202 E Broadway St.,Walmart,1981-07-28,NaT
4778,474,TX,Edna,1002 N Wells,Walmart,1982-11-02,2018-01-01
3916,473,TX,Giddings,2374 E Austin St.,Walmart,1983-04-05,NaT
4007,554,TX,Laredo,5610 San Bernardo Ave.,Walmart,1983-06-07,NaT
3806,503,TX,Columbus,2103 Milam St.,Walmart,1983-08-02,NaT
4086,478,TX,Pearsall,819 N Oak St.,Walmart,1984-03-06,NaT
3785,567,TX,Caldwell,475 State Highway 36 N,Walmart,1984-04-03,NaT
4035,446,TX,Madisonville,1620 E Main St.,Walmart,1984-04-03,NaT
4223,482,TX,West Columbia,301 N Columbia Dr.,Walmart,1984-07-17,NaT
4172,626,TX,Seminole,2000 Hobbs Hwy.,Walmart,1984-10-02,NaT
4087,898,TX,Pecos,1903 S Cedar St.,Walmart,1986-05-20,NaT
3932,951,TX,Hempstead,625 Highway 290 E,Walmart,1986-09-02,NaT
4782,1050,TX,Lamesa,2406 Lubbock Hwy,Walmart,1987-01-13,2016-01-17
3788,1046,TX,Carrizo Springs,2214 N 1st St.,Walmart,1987-05-12,NaT
3927,1067,TX,Hallettsville,1506 N Texana St.,Walmart,1987-06-30,NaT
3755,1078,TX,Ballinger,2005 Hutchins Ave.,Walmart,1987-06-30,NaT
4775,1092,TX,Brownfield,1405 Tahoka Rd,Walmart,1987-11-03,2017-01-31
3946,2718,TX,Houston,9555 S Post Oak Rd.,Walmart,1999-10-27,NaT
4779,926,TX,Falfurrias,US-281 South,Walmart,NaT,2015-01-01

In [110]:
df.groupby('Category')['Category'].count()

Category
Clinic Pharmacy            18
Convenience with Fuel       8
Neighborhood Marker         2
Neighborhood Market       770
Supercenter                 1
Walmart                   409
Walmart Express             1
Walmart Pickup              4
Walmart Supercenter      3576
Name: Category, dtype: int64

In [45]:
df['Closing_year'] = df.Closing_date.str[-4:]
df['Opening_year'] = df.Opening_date.str[-4:]
pd.set_option('display.max_rows', 10)
df[df.Closing_year == '2015'][df.Closing_month=='01'];

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_4144/3599529141.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Closing_year == '2015'][df.Closing_month=='01']

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date, Closing_year, Opening_year, Opening_month, Closing_month]
Index: []

In [ ]:
from difflib import SequenceMatcher

In [ ]:
for index, store in df[df.Closing_date == '2016'].iterrows():
    if store['Town'] in list(df2['Town']):
        for store2 in df[df.Town == store['Town']]:
            print(df[df.Town == store['Town']])
            if SequenceMatcher(None, store['Street'].capitalize(), store2['Street'].capitalize()).ratio() > 0.8:
                print('coucou')

In [21]:
df2[df2.Town == 'Dickson City']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [45]:
df2 = pd.read_csv('wallmart_exit2016_données_traitées.csv')
df2.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [73]:
df2[df2.Town == 'Aurora']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [ ]:
with open('wallmart_exit2016.txt') as f:
    content = f.read()
for number in df2['Unnamed: 1']:
    if str(number) in content:
        print(number)

In [ ]:
df[df.Town == "Pacolet"]

In [38]:
df3 = pd.read_csv('walmart_opening_1962_2006.csv')

In [52]:
df4.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [93]:
df4 = pd.read_csv('Walmarts.csv')
df5= pd.DataFrame(df4['Store Name'].str.split(',').to_list())
df5['State']=df5[3].str[1:3]
df5[2] = df5[2].str[1:]
df5.head()

,0,1,2,3,4,State
0,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR 72761 - Walmart.com,None,AR
1,Walmart Supercenter,1621 North Business 9,Morrilton,AR 72110 - Walmart.com,None,AR
2,Walmart Supercenter,1155 Hwy 65 North,Conway,AR 72032 - Walmart.com,None,AR
3,Walmart Supercenter,9053 Highway 107,Sherwood,AR 72120 - Walmart.com,None,AR
4,Walmart Supercenter,30983 Highway 441 S,Commerce,GA 30529 - Walmart.com,None,GA

In [35]:
df_=pd.read_csv('walmart_opening_1962_2006.csv')

In [38]:
df_[(df_.state=='MS')&(df_.type=='Wal-MartStore')]

,opendate,st.address,city,state,long,lat,type
103,1975-04-01,200 WALMART CIRCLE,Booneville,MS,-88.53751,34.653448,Wal-MartStore
135,1976-09-01,1445 HWY 45 NORTH,West Point,MS,-88.64686,33.619058,Wal-MartStore
147,1977-02-01,350 WAL-MART CIRCLE,Pontotoc,MS,-89.00425,34.236312,Wal-MartStore
159,1977-07-01,822 CITY AVENUE SOUTH,Ripley,MS,-88.92629,34.739023,Wal-MartStore
224,1979-05-15,620 SOUTH APPLEGATE ST,Winona,MS,-89.73155,33.481491,Wal-MartStore
237,1979-08-21,1110 BATTLEGROUND DRIVE,Iuka,MS,-88.10205,34.803864,Wal-MartStore
401,1981-07-04,2302 HWY 82 WEST,Greenwood,MS,-90.17663,33.528734,Wal-MartStore
485,1982-08-03,660 EAST MADISON,Houston,MS,-88.96710,33.904246,Wal-MartStore
924,1986-09-30,110 MARKET PLACE,Hazlehurst,MS,-90.42995,31.841281,Wal-MartStore
1049,1987-10-01,921 HWY 35 SOUTH,Forest,MS,-89.46552,32.379693,Wal-MartStore
1087,1987-12-31,2381 PASS ROAD,Biloxi,MS,-88.96219,30.405831,Wal-MartStore
1231,1989-02-02,1524 HWY 19 NORTH,Meridian,MS,-88.74940,32.358891,Wal-MartStore

In [39]:
df[(df.State=='MS')&(df.Category=='Walmart')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2315,176,MS,Ripley,822 City Ave. S,Walmart,1977-07-01,NaT
2287,274,MS,Iuka,1110 Battleground Dr.,Walmart,1979-08-21,NaT
2285,411,MS,Houston,660 E Madison St.,Walmart,1982-08-03,NaT

In [36]:
df_.type.unique()

array(['DistributionCenter', 'SuperCenter', 'Wal-MartStore'], dtype=object)

ILLINOIS :
- McHenry
- Matteson
- East Dundee
- Spring Valley
- Glenwood