In [2]:
import pandas as pd
import datetime

In [30]:
pd.set_option('display.max_rows', None)

In [67]:
import pandas as pd

df = pd.read_csv('walmart_opening_1962_2006.csv')
df['year'] = df['opendate'].str[:4]
df.head(10)

,opendate,st.address,city,state,long,lat,type,year
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter,1962
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter,1962
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter,1964
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter,1965
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore,1967
5,1967-10-01,1621 NORTH BUSINESS 9,Morrilton,AR,-92.758580,35.156491,SuperCenter,1967
6,1968-03-01,1303 SOUTH MAIN,Sikeston,MO,-89.583550,36.891163,SuperCenter,1968
7,1968-03-01,65 WAL-MART DRIVE,Mountain Home,AR,-92.357810,36.329026,SuperCenter,1968
8,1968-07-01,2020 SOUTH MUSKOGEE,Tahlequah,OK,-94.971850,35.923658,SuperCenter,1968
9,1968-07-01,1500 LYNN RIGGS BLVD,Claremore,OK,-95.611920,36.327143,SuperCenter,1968

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(30,5))
plt.bar(df.year.value_counts().sort_index().index, df.year.value_counts().sort_index().values)
plt.title("Openings of Walmart throug time")

In [49]:
df.State.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
import datetime
date = datetime.date(2456,1, 23)
type(date)

datetime.date

In [69]:
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [95]:
date = datetime.date(2001,0,0)

ValueError: month must be in 1..12

In [108]:
len(df[df.Opening_date=='unknown'])

85

In [57]:

import pandas as pd
df = pd.read_csv('fandom_traitées.csv')


for index, row in df.iterrows():
    print(type(row['Opening_date']))
    break
    if type(row['Opening_date'])!=datetime:
        print(row['Opening_date'])

<class 'str'>

In [46]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
df_MO = df[df.State == 'TX']
print(df_MO.loc[(df.Opening_date <= '2016-01-31') | (df.Closing_date>'2016-01-31')].groupby('Category')['Category'].count())
print(df_MO.loc[(df.Opening_date <= '2017-01-31') | (df.Closing_date>'2017-01-31')].groupby('Category')['Category'].count())

Category
Clinic Pharmacy          3
Neighborhood Market     84
Walmart                 21
Walmart Supercenter    375
Name: Category, dtype: int64
Category
Clinic Pharmacy            3
Convenience with Fuel      1
Neighborhood Market       96
Walmart                   21
Walmart Supercenter      382
Name: Category, dtype: int64

In [21]:
df_MO.loc[((df.Opening_date <= '2016-01-31') | (df.Closing_date>'2016-01-31')) & (df.Category=='Neighborhood Market')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3588,3599,TN,Bartlett,6520 Memphis Arlington Rd.,Neighborhood Market,2002-10-09,NaT
3666,5043,TN,Memphis,6990 E Shelby Dr.,Neighborhood Market,2002-10-16,NaT
3667,5122,TN,Memphis,2856 Hickory Hill Rd.,Neighborhood Market,2003-05-07,NaT
3684,5119,TN,Nashville,5531 Edmondson Pike,Neighborhood Market,2003-10-08,NaT
3659,5107,TN,Madison,109 Gallatin Pike N,Neighborhood Market,2005-08-31,NaT
3596,5143,TN,Chattanooga,8101 East Brainerd Rd.,Neighborhood Market,2015-09-09,NaT
3603,4591,TN,Clarksville,408 Tiny Town Road,Neighborhood Market,2015-09-30,NaT
3602,4589,TN,Clarksville,216 Dover Road,Neighborhood Market,2015-10-14,NaT
3620,4692,TN,East Ridge,4150 Ringgold Road,Neighborhood Market,2015-10-28,NaT
3601,4469,TN,Clarksville,2551 Whitfield Road,Neighborhood Market,2015-11-04,NaT
3642,5734,TN,Kingsport,750 Lynn Garden Dr.,Neighborhood Market,2015-11-11,NaT
3595,3619,TN,Chattanooga,3901 Hixson Pike Suite 181,Neighborhood Market,2015-11-11,NaT
3629,5188,TN,Hixson,7636 Middle Valley Rd.,Neighborhood Market,2016-01-13,NaT
3674,5467,TN,Morristown,1997 Buffalo Trail,Neighborhood Market,2016-01-20,NaT
3678,5148,TN,Murfreesboro,1153 Fortress Blvd.,Neighborhood Market,2016-01-27,NaT
3679,5182,TN,Murfreesboro,2478 New Salem Highway,Neighborhood Market,2016-01-27,NaT
4768,4671,TN,Chattanooga,4110 Shallowford Rd.,Neighborhood Market,2016-01-27,2022-01-01

In [44]:
df_MO[df_MO.Category=='Neighborhood Market'].sort_values(['Opening_date', 'Closing_date'])

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2446,5692,MO,Springfield,3150 W Republic Rd.,Neighborhood Market,2012-05-16,NaT
2447,5693,MO,Springfield,1320 S Glenstone Ave.,Neighborhood Market,2012-05-25,NaT
2444,3111,MO,Springfield,545 El Camino Alto Dr.,Neighborhood Market,2012-10-03,NaT
2443,3062,MO,Springfield,3536 W Mount Vernon St.,Neighborhood Market,2012-10-17,NaT
2333,5149,MO,Blue Springs,1700 N 7 Hwy.,Neighborhood Market,2013-06-12,NaT
2381,4057,MO,Joplin,1600 East 7th St.,Neighborhood Market,2014-05-01,NaT
2376,6500,MO,Independence,3411 S Noland Road,Neighborhood Market,2014-08-20,NaT
2386,2442,MO,Kansas City,5261 North Antioch Rd.,Neighborhood Market,2014-11-05,NaT
2422,7127,MO,Poplar Bluff,3001 Oak Grove Road,Neighborhood Market,2015-01-07,NaT
2445,3238,MO,Springfield,3720 East Sunshine Street,Neighborhood Market,2015-01-07,NaT
2347,7072,MO,Cape Girardeau,2021 Independence Street,Neighborhood Market,2015-01-28,NaT
2383,4478,MO,Joplin,2426 S Maiden Ln.,Neighborhood Market,2015-09-30,NaT
2382,4470,MO,Joplin,25145 Demott Dr.,Neighborhood Market,2016-01-13,NaT
2435,5421,MO,Saint Peters,45 Sutters Mill Rd.,Neighborhood Market,2016-01-27,NaT
2453,5427,MO,St. Peters,3031 Mid Rivers Mall Drive,Neighborhood Market,2016-01-27,NaT
2442,2839,MO,Springfield,444 W Grand Street,Neighborhood Market,2016-03-16,NaT
4725,4269,MO,Anderson,224 E Hwy 76,Neighborhood Market,NaT,2016-01-17
4727,4289,MO,Clever,414 N Elm,Neighborhood Market,NaT,2016-01-17
4728,4270,MO,Noel,508 N Cliffside Dr,Neighborhood Market,NaT,2016-01-17
4730,4282,MO,Seligman,33597 State Hwy 112,Neighborhood Market,NaT,2016-01-17

In [42]:
df[pd.DatetimeIndex(df['Opening_date']).month == 1 and pd.DatetimeIndex(df.Opening_date).year==2016]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [93]:
df[df.Closing_date.dt.year==2016]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4630,3814,AK,Juneau,6525 Glacier Hwy,Walmart Supercenter,2007-09-12,2016-02-05
4631,2186,AL,Abbeville,407 West Washington St,Neighborhood Market,NaT,2016-01-01
4632,2011,AL,Ashford,18 Apple Way,Neighborhood Market,NaT,2016-01-17
4633,763,AL,Fairfield,7201 Aaron Aronov Drive,Walmart Supercenter,1984-11-13,2016-01-17
4634,2235,AL,Gurley,6361 Hwy 72,Neighborhood Market,NaT,2016-01-17
...,...,...,...,...,...,...,...
4779,597,TX,Houston,7075 FM 1960 Rd W,Walmart Supercenter,1984-09-18,2016-01-17
4780,1050,TX,Lamesa,2406 Lubbock Hwy,Walmart,1987-01-13,2016-01-17
4781,883,TX,Raymondville,14091 FM 490,Walmart Supercenter,1986-02-04,2016-01-28
4787,3811,WV,Kimball,61 Plaza Drive,Walmart Supercenter,2015-10-26,2016-01-17
4788,3496,WI,Milwaukee,5825 W Hope Ave,Walmart,2002-08-14,2016-01-17

In [4]:
df.loc[(df.Closing_date>='2016-01-31') & (df.Closing_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AK    1
CT    1
IL    1
MO    2
TX    1
Name: Store_id, dtype: int64

In [103]:
df[(df.Opening_date.dt.month==1) & (df.Opening_date.dt.day==31) & (df.Opening_date.dt.year > 2015)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
345,241,AR,Rogers,4206 S Pleasant Crossing Blvd.,Convenience with Fuel,2017-01-31,NaT
995,6149,FL,Orlando,13801 Landstar and Arbor Meadows Blvd.,Neighborhood Market,2018-01-31,NaT
3557,377,SC,Sumter,343 Pinewood Rd.,Neighborhood Market,2018-01-31,NaT
3737,2466,TX,Arlington,4851 S Cooper Street,Convenience with Fuel,2019-01-31,NaT

In [98]:
df.loc[(df.Opening_date>='2016-01-31') & (df.Opening_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AL     5
AR     5
AZ     1
CA     4
CO     1
FL    18
GA     3
ID     1
IL     1
IN     1
KY     3
LA     3
MO     1
MS     3
NC     5
NJ     2
NM     2
OK     4
PA     1
SC     9
SD     1
TN     4
TX    21
VA     5
VT     1
Name: Store_id, dtype: int64

In [113]:
df[df.Category=='Walmart'][df.State=='TX']

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_2779/1965807865.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Category=='Walmart'][df.State=='TX']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3755,1078,TX,Ballinger,2005 Hutchins Ave.,Walmart,1987-06-30,NaT
3775,283,TX,Bridge City,795 Texas Ave.,Walmart,1980-02-26,NaT
3785,567,TX,Caldwell,475 State Highway 36 N,Walmart,1984-04-03,NaT
3788,1046,TX,Carrizo Springs,2214 N 1st St.,Walmart,1987-05-12,NaT
3806,503,TX,Columbus,2103 Milam St.,Walmart,1983-08-02,NaT
3824,385,TX,Cuero,1202 E Broadway St.,Walmart,1981-07-28,NaT
3916,473,TX,Giddings,2374 E Austin St.,Walmart,1983-04-05,NaT
3927,1067,TX,Hallettsville,1506 N Texana St.,Walmart,1987-06-30,NaT
3932,951,TX,Hempstead,625 Highway 290 E,Walmart,1986-09-02,NaT
3946,2718,TX,Houston,9555 S Post Oak Rd.,Walmart,1999-10-27,NaT
4007,554,TX,Laredo,5610 San Bernardo Ave.,Walmart,1983-06-07,NaT
4035,446,TX,Madisonville,1620 E Main St.,Walmart,1984-04-03,NaT
4040,320,TX,Marlin,600 S State Highway 6,Walmart,1980-10-14,NaT
4067,293,TX,Navasota,1712 E Washington Ave.,Walmart,1980-05-28,NaT
4086,478,TX,Pearsall,819 N Oak St.,Walmart,1984-03-06,NaT
4087,898,TX,Pecos,1903 S Cedar St.,Walmart,1986-05-20,NaT
4172,626,TX,Seminole,2000 Hobbs Hwy.,Walmart,1984-10-02,NaT
4223,482,TX,West Columbia,301 N Columbia Dr.,Walmart,1984-07-17,NaT
4773,1092,TX,Brownfield,1405 Tahoka Rd,Walmart,1987-11-03,2017-01-31
4776,474,TX,Edna,1002 N Wells,Walmart,1982-11-02,2018-01-01
4777,926,TX,Falfurrias,US-281 South,Walmart,NaT,2015-01-01
4780,1050,TX,Lamesa,2406 Lubbock Hwy,Walmart,1987-01-13,2016-01-17

In [110]:
df.groupby('Category')['Category'].count()

Category
Clinic Pharmacy            18
Convenience with Fuel       8
Neighborhood Marker         2
Neighborhood Market       770
Supercenter                 1
Walmart                   409
Walmart Express             1
Walmart Pickup              4
Walmart Supercenter      3576
Name: Category, dtype: int64

In [45]:
df['Closing_year'] = df.Closing_date.str[-4:]
df['Opening_year'] = df.Opening_date.str[-4:]
pd.set_option('display.max_rows', 10)
df[df.Closing_year == '2015'][df.Closing_month=='01'];

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_4144/3599529141.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Closing_year == '2015'][df.Closing_month=='01']

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date, Closing_year, Opening_year, Opening_month, Closing_month]
Index: []

In [ ]:
from difflib import SequenceMatcher

In [ ]:
for index, store in df[df.Closing_date == '2016'].iterrows():
    if store['Town'] in list(df2['Town']):
        for store2 in df[df.Town == store['Town']]:
            print(df[df.Town == store['Town']])
            if SequenceMatcher(None, store['Street'].capitalize(), store2['Street'].capitalize()).ratio() > 0.8:
                print('coucou')

In [21]:
df2[df2.Town == 'Dickson City']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [45]:
df2 = pd.read_csv('wallmart_exit2016_données_traitées.csv')
df2.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [73]:
df2[df2.Town == 'Aurora']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [ ]:
with open('wallmart_exit2016.txt') as f:
    content = f.read()
for number in df2['Unnamed: 1']:
    if str(number) in content:
        print(number)

In [ ]:
df[df.Town == "Pacolet"]

In [76]:
df3[df3.city=="Carrollton"]

,opendate,st.address,city,state,long,lat,type
404,1981-07-04,1735 SOUTH PARK STREET,Carrollton,GA,-85.10620,33.588486,SuperCenter
1179,1988-10-03,1213 E. TRINITY MILLS ROAD,Carrollton,TX,-96.89163,32.960374,SuperCenter
2648,2001-01-24,200 FLOYD DRIVE,Carrollton,KY,-85.16803,38.663328,SuperCenter

In [71]:
df3 = pd.read_csv('walmart_opening_1962_2006.csv')