In [67]:
import pandas as pd

df = pd.read_csv('walmart_opening_1962_2006.csv')
df['year'] = df['opendate'].str[:4]
df.head(10)

,opendate,st.address,city,state,long,lat,type,year
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter,1962
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter,1962
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter,1964
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter,1965
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore,1967
5,1967-10-01,1621 NORTH BUSINESS 9,Morrilton,AR,-92.758580,35.156491,SuperCenter,1967
6,1968-03-01,1303 SOUTH MAIN,Sikeston,MO,-89.583550,36.891163,SuperCenter,1968
7,1968-03-01,65 WAL-MART DRIVE,Mountain Home,AR,-92.357810,36.329026,SuperCenter,1968
8,1968-07-01,2020 SOUTH MUSKOGEE,Tahlequah,OK,-94.971850,35.923658,SuperCenter,1968
9,1968-07-01,1500 LYNN RIGGS BLVD,Claremore,OK,-95.611920,36.327143,SuperCenter,1968

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(30,5))
plt.bar(df.year.value_counts().sort_index().index, df.year.value_counts().sort_index().values)
plt.title("Openings of Walmart throug time")

In [49]:
df.State.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
import datetime
date = datetime.date(2456,1, 23)
type(date)

datetime.date

In [69]:
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [95]:
date = datetime.date(2001,0,0)

ValueError: month must be in 1..12

In [108]:
len(df[df.Opening_date=='unknown'])

85

In [57]:

import pandas as pd
df = pd.read_csv('fandom_traitées.csv')


for index, row in df.iterrows():
    print(type(row['Opening_date']))
    break
    if type(row['Opening_date'])!=datetime:
        print(row['Opening_date'])

<class 'str'>

In [68]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaT
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaT
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaT
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaT
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaT

In [70]:
df[df.Closing_date.dt.2016]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4640,2657,AZ,Chandler,6085 W. Chandler Blvd.,Neighborhood Market,NaT,2019-01-01
4641,3142,AZ,Tucson,3900 W. Ina Road,Neighborhood Market,NaT,2019-01-01
4645,235,AR,Corning,1900 W Main,Walmart,1978-11-28,2018-07-20
4656,380,AR,Waldron,1359 W 2nd St,Walmart,1982-02-02,2017-01-01
4657,5639,CA,Garden Grove,10912 Katella Avenue,Neighborhood Market,2012-11-02,2022-03-25
4662,5164,CA,Norwalk,11729 Imperial Highway,Walmart Supercenter,2004-01-28,2019-01-01
4664,3025,CA,San Jose,1600 Saratoga Ave.s Westgate Center,Neighborhood Market,NaT,2019-04-19
4666,3020,CO,Arvada,64 W Ave.,Neighborhood Market,2012-06-20,2017-07-07
4667,3907,CO,Littleton,3615 West Bowles Ave.,Neighborhood Market,2012-06-29,2017-04-07
4669,1208,CO,Wheat Ridge,3600 Youngfield St,Walmart,1988-05-03,2017-07-07
4670,2305,CT,Bristol,325 Oakland St,Neighborhood Market,NaT,2017-01-01
4672,3544,CT,Guilford,900 Boston Post Rd.,Walmart,2002-10-16,2022-05-20
4688,487,IL,Cinton,10 Clinton Plaza,Walmart,1983-03-01,2018-07-20
4689,6167,IL,Des Plaines,727 W Golf Rd.,Neighborhood Market,2014-08-20,2021-08-06
4690,460,IL,Pana,10 W 2nd,Walmart,1983-11-29,2018-10-12
4691,5406,IN,Indianapolis,8010 E. 38th St.,Neighborhood Market,NaT,2019-07-12
4692,1262,IN,Rushville,1850 N Main,Walmart,1988-11-17,2018-02-28
4699,2060,KY,Lexington,3180 Richmond Rd,Walmart,1993-09-28,2018-08-10
4701,3610,KY,Louisville,7100 Raggard Rd.,Walmart Supercenter,2008-03-05,2022-04-22
4708,534,LA,Lafayette,1229 NE. Evangeline Trwy,Walmart Supercenter,1983-05-17,2019-01-01
4714,5380,MA,Hanover,1775 Washington St,Walmart,2004-11-03,2019-01-01
4716,1824,MI,Ysplanti,2515 Ellsworth Rd,Walmart,1992-08-04,2020-01-01
4717,983,MN,Blue Earth,1210 Giant Dr,Walmart,1987-02-03,2017-10-03
4718,5437,MN,Midway,1450 University Avenue W,Walmart,2004-05-19,2019-01-01
4726,156,MO,Caruthersville,156 W 3rd St,Walmart,NaT,2017-01-20
4729,946,MO,Piedmont,#15 Hals Plaza Dr,Walmart,1987-02-03,2017-01-20
4732,2246,NH,Bedford,17 Colby Court,Walmart,1995-01-31,2019-01-01
4734,2171,NJ,Princeton,101 Nassau Park Blvd,Walmart,1995-05-31,2020-01-01
4751,1127,NC,Wadesboro,1047 E Caswell St,Walmart,1988-11-17,2020-01-01
4754,3656,OH,Cincinnati,1143 Smiley Ave.,Walmart Supercenter,2006-05-17,2022-04-22
4756,5083,OH,Mayfield Heights,6594 Mayfield Rd.,Walmart,2004-01-28,2022-05-20
4759,327,OK,Jay,1107 S Main St,Walmart,1981-04-07,2020-01-01
4763,3565,PA,Norristown,53 W Germantown Pike,Walmart,2002-07-17,2019-01-01
4770,4167,TN,Knoxville,2501 University Commons Way,Walmart,2014-08-06,2019-03-29
4773,1092,TX,Brownfield,1405 Tahoka Rd,Walmart,1987-11-03,2017-01-31
4775,949,TX,Dallas (Duncanville),3155 W Wheatland Rd,Walmart Supercenter,1986-09-02,2019-01-01
4776,474,TX,Edna,1002 N Wells,Walmart,1982-11-02,2018-01-01
4783,8855,UT,Millcreek,3701 S Highland Dr.,Walmart Pickup,2017-07-19,2022-01-01
4784,8862,UT,Murray,5596 S Van Winkle Expy.,Walmart Pickup,2017-06-07,2022-01-01
4785,650,VA,Big Stone Gap,1959 Neeley Rd,Walmart,1984-09-18,2019-01-01
4786,5939,WA,Bellevue,12620 SE 41st Pl.,Walmart,2012-10-17,2022-04-22

In [29]:
import datetime
date = datetime.date(2016,2,3)
date.year == 2016

True

In [43]:
df[df['Opening_date'].dt.year == 2016]

AttributeError: Can only use .dt accessor with datetimelike values

In [42]:
df[pd.DatetimeIndex(df['Opening_date']).month == 1 and pd.DatetimeIndex(df.Opening_date).year==2016]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [44]:
df['Closing_year'] = df.Closing_date.str[-4:]
df['Opening_year'] = df.Opening_date.str[-4:]
df['Opening_month'] = df.Opening_date.str[:2]
df['Closing_month'] = df.Closing_date.str[:2]
len(df[df.Closing_year == '2017'])

10

In [45]:
df['Closing_year'] = df.Closing_date.str[-4:]
df['Opening_year'] = df.Opening_date.str[-4:]
pd.set_option('display.max_rows', 10)
df[df.Closing_year == '2015'][df.Closing_month=='01'];

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_4144/3599529141.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Closing_year == '2015'][df.Closing_month=='01']

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date, Closing_year, Opening_year, Opening_month, Closing_month]
Index: []

In [ ]:
from difflib import SequenceMatcher

In [ ]:
for index, store in df[df.Closing_date == '2016'].iterrows():
    if store['Town'] in list(df2['Town']):
        for store2 in df[df.Town == store['Town']]:
            print(df[df.Town == store['Town']])
            if SequenceMatcher(None, store['Street'].capitalize(), store2['Street'].capitalize()).ratio() > 0.8:
                print('coucou')

In [21]:
df2[df2.Town == 'Dickson City']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [45]:
df2 = pd.read_csv('wallmart_exit2016_données_traitées.csv')
df2.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [73]:
df2[df2.Town == 'Aurora']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [ ]:
with open('wallmart_exit2016.txt') as f:
    content = f.read()
for number in df2['Unnamed: 1']:
    if str(number) in content:
        print(number)

In [ ]:
df[df.Town == "Pacolet"]

In [103]:
df3[df3.city=="Dickson City"]

,opendate,st.address,city,state,long,lat,type
2293,1997-01-10,900 COMMERCE BLVD,Dickson City,PA,-75.62478,41.46213,SuperCenter

In [98]:
df3 = pd.read_csv('walmart_opening_1962_2006.csv')