In [ ]:
import pandas as pd

df = pd.read_csv('walmart_opening_1962_2006.csv')
df['year'] = df['opendate'].str[:4]
df.head(10)

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(30,5))
plt.bar(df.year.value_counts().sort_index().index, df.year.value_counts().sort_index().values)
plt.title("Openings of Walmart throug time")

In [42]:
import pandas as pd
df = pd.read_csv('fandom_traitées.csv')
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,3/1/1988,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,9/30/2015,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,12/1/1981,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,8/4/1981,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,10/1/1987,NaN

In [44]:
df[df.Opening_date == 'unknown']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4630,2186,AL,Abbeville,407 West Washington St,Neighborhood Market,unknown,1/1/2016
4631,2011,AL,Ashford,18 Apple Way,Neighborhood Market,unknown,1/17/2016
4633,2235,AL,Gurley,6361 Hwy 72,Neighborhood Market,unknown,1/17/2016
4634,3769,AL,Grant,3530 Cathedral Caverns Hwy,Neighborhood Market,unknown,1/17/2016
4635,2173,AL,Headland,14331 CR-99,Neighborhood Market,unknown,1/17/2016
...,...,...,...,...,...,...,...
4766,4167,TN,Knoxville,2501 University Commons Way,Walmart,unknown,2019
4768,5478,TX,Austin,8201 N FM 620,Walmart Supercenter,unknown,1/17/2016
4770,5493,TX,Brownsville,7480 Padre Island Hwy,Walmart Supercenter,unknown,1/28/2016
4773,926,TX,Falfurrias,US-281 South,Walmart,unknown,2015
4774,5986,TX,Frisco,4268 Legacy Drive,Neighborhood Market,unknown,1/17/2016

In [ ]:
from difflib import SequenceMatcher

In [ ]:
for index, store in df[df.Closing_date == '2016'].iterrows():
    if store['Town'] in list(df2['Town']):
        for store2 in df[df.Town == store['Town']]:
            print(df[df.Town == store['Town']])
            if SequenceMatcher(None, store['Street'].capitalize(), store2['Street'].capitalize()).ratio() > 0.8:
                print('coucou')

In [21]:
df2[df2.Town == 'Dickson City']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [9]:
df2 = pd.read_csv('wallmart_exit2016_données_traitées.csv')
df2.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [14]:
df2.Store_id.unique()

array([2173, 2011, 2165, 2186, 2235, 2260, 3769, 3779, 2498, 2578, 2601,
       2669, 3819, 3878, 4217, 3032, 3033, 3034, 3358, 4265, 4267, 4228,
       4229, 4234, 4251, 4254, 4261, 4263, 3065, 3039, 3369, 4353, 4360,
       4361, 4362, 4651, 3755, 4634, 3753, 3815, 3839, 3849, 3879, 4647,
       4269, 4270, 4282, 4289, 3856, 3863, 3865, 3866, 4294, 4296, 3211,
       3249, 5024, 3257, 5015, 5017, 7207, 5138, 2500, 2573, 6997, 3007,
       3036, 3037, 3080, 3121, 3756, 4633, 2456, 2462, 3766, 3767, 1250,
       3798, 2375, 2413, 4301, 4306, 2345, 2349, 2363, 2364, 2410, 2461,
       2779, 2863, 3820, 3822, 3832, 3834, 4312, 4316, 4320, 4327, 4331,
       4338, 4343, 4345, 2524, 2949, 5457, 2960, 3507, 3496, 3814,  763,
       4584, 4369, 2837, 4342, 2606,  883, 5493, 5478,  597, 3811, 5783,
       5642, 5688, 3086, 5690, 4173, 5002, 3021, 2303, 5856, 5860, 5873,
       3097, 5995, 3306, 3171, 3451, 5985, 4126, 5986, 3030, 3031, 5698,
       2343, 2347, 2342, 3667, 3684, 3689, 3697, 4903, 6648, 6665, 6681])

In [ ]:
with open('wallmart_exit2016.txt') as f:
    content = f.read()
for number in df2['Unnamed: 1']:
    if str(number) in content:
        print(number)

In [ ]:
df[df.Town == "Pacolet"]

In [41]:
df3[df3.city=="Springdale"]

,opendate,st.address,city,state,long,lat,type
42,1972-06-01,2004 SOUTH PLEASANT,Springdale,AR,-94.10820,36.182407,SuperCenter
2050,1994-06-29,600 KEMPER COMMONS CIRCLE,Springdale,OH,-84.47383,39.288558,Wal-MartStore

In [19]:
df3 = pd.read_csv('walmart_opening_1962_2006.csv')