In [1]:
import pandas as pd
import datetime

In [73]:
df = pd.read_csv('fandom_trait√©es.csv')
len(df)

4846

In [28]:
df[(df.State=='MS')&(df.Category=='Walmart')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2315,176,MS,Ripley,822 City Ave. S,Walmart,1977-07-01,NaT
2287,274,MS,Iuka,1110 Battleground Dr.,Walmart,1979-08-21,NaT
2285,411,MS,Houston,660 E Madison St.,Walmart,1982-08-03,NaT

In [ ]:
df[df.State=='MS']

In [67]:
df[(df.State=='MS')&(df.Closing_date.dt.year>=2016)]

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date]
Index: []

In [68]:
df[(df.State=='MS')&(df.Opening_date.dt.year>=2016)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2253,4586,MS,Biloxi,1820-A Popps Ferry Rd.,Neighborhood Market,2016-06-01,NaT
2258,6469,MS,Byram,131 Handley Boulevard,Walmart Supercenter,2016-01-27,NaT
2275,6165,MS,Gulfport,1733 East Pass Rd.,Neighborhood Market,2016-01-13,NaT
2284,6964,MS,Horn Lake,4150 Goodman Road West,Walmart Supercenter,2016-01-27,NaT
2296,3990,MS,Meridian,3310-A Highway 39 North,Neighborhood Market,2017-04-12,NaT
2302,5776,MS,Ocean Springs,6412 Washington Avenue,Neighborhood Market,2016-11-02,NaT
2318,5459,MS,Starkville,105 Market Street,Neighborhood Market,2018-01-17,NaT
2320,4619,MS,Tupelo,316 S Gloster Street,Neighborhood Market,2016-08-03,NaT
2328,3060,MS,Yazoo City,2129 Grand Avenue,Walmart Supercenter,2017-03-15,NaT

In [49]:
df[df.State=='MS'].groupby('Town')['Town'].count()

Town
Amory         1
Batesville    1
Belmont       1
Biloxi        3
Booneville    1
             ..
Waveland      1
Waynesboro    1
West Point    1
Wiggins       1
Yazoo City    1
Name: Town, Length: 71, dtype: int64

In [33]:
df[df.Store_id=='1025']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2295,1025,MS,McComb,1608 Veterans Blvd.,Walmart Supercenter,1987-04-28,NaT

In [30]:
pd.set_option('display.max_rows', None)

In [67]:
import pandas as pd

df = pd.read_csv('walmart_opening_1962_2006.csv')
df['year'] = df['opendate'].str[:4]
df.head(10)

,opendate,st.address,city,state,long,lat,type,year
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter,1962
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter,1962
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter,1964
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter,1965
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore,1967
5,1967-10-01,1621 NORTH BUSINESS 9,Morrilton,AR,-92.758580,35.156491,SuperCenter,1967
6,1968-03-01,1303 SOUTH MAIN,Sikeston,MO,-89.583550,36.891163,SuperCenter,1968
7,1968-03-01,65 WAL-MART DRIVE,Mountain Home,AR,-92.357810,36.329026,SuperCenter,1968
8,1968-07-01,2020 SOUTH MUSKOGEE,Tahlequah,OK,-94.971850,35.923658,SuperCenter,1968
9,1968-07-01,1500 LYNN RIGGS BLVD,Claremore,OK,-95.611920,36.327143,SuperCenter,1968

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(30,5))
plt.bar(df.year.value_counts().sort_index().index, df.year.value_counts().sort_index().values)
plt.title("Openings of Walmart throug time")

In [49]:
df.State.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
import datetime
date = datetime.date(2456,1, 23)
type(date)

datetime.date

In [69]:
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [95]:
date = datetime.date(2001,0,0)

ValueError: month must be in 1..12

In [108]:
len(df[df.Opening_date=='unknown'])

85

In [57]:

import pandas as pd
df = pd.read_csv('fandom_trait√©es.csv')


for index, row in df.iterrows():
    print(type(row['Opening_date']))
    break
    if type(row['Opening_date'])!=datetime:
        print(row['Opening_date'])

<class 'str'>

In [47]:
df3[(df3.state=="IL") & (df3.type=="DistributionCenter")].head(20)

,opendate,st.address,city,state,long,lat,type
2319,1997-03-01,3801 E US Hwy 50,Olney,IL,-88.131304,38.712131,DistributionCenter
2667,2001-03-01,3110 Illinois Hwy 89,Spring Valley,IL,-89.221430,41.352201,DistributionCenter

In [52]:
df_MO[df_MO.Opening_date.dt.year==2001]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
1428,2817,IL,Lansing,17625 Torrence Ave.,Walmart Supercenter,2001-01-24,NaT
1483,3255,IL,Savoy,505 S Dunlap Ave.,Walmart Supercenter,2001-08-15,NaT
1490,3210,IL,Springfield,2760 N Dirksen Pkwy,Walmart Supercenter,2001-10-24,NaT

In [108]:
f="""Acworth (2)
Adel
Albany (4)
Alpharetta (2)
Americus
Athens (3)
Atlanta (5)
Augusta (4)
Austell
Bainbridge
Baxley
Blairsville
Blue Ridge
Bremen
Brunswick (2)
Buford (2)
Cairo
Calhoun
Camilla
Canton
Carrollton
Cartersville
Cedartown
Chamblee
Clayton
Cleveland
Cochran
College Park
Columbus (7)
Commerce
Conyers
Cordele
Cornelia
Covington (2)
Cumming (3)
Dahlonega
Dallas
Dalton (3)
Dawsonville
Decatur (2)
Douglas
Douglasville
Dublin
Duluth
Dunwoody (2)
East Ellijay
East Point
Eastman
Eatonton
Elberton
Ellenwood
Evans
Fayetteville
Fitzgerald
Forsyth
Fort Oglethorpe (2)
Gainesville (3)
Griffin
Grovetown (2)
Hartwell
Hazlehurst
Hephzibah
Hinesville (3)
Hiram
Holly Springs
Jasper
Jesup
La Fayette
Lagrange (2)
Lawrenceville (3)
Lilburn
Lithia Springs
Lithonia (2)
Locust Grove
Loganville
Lovejoy
Macon (3)
Madison
Marietta (7)
Martinez
Mcdonough
Milledgeville
Monroe
Morrow
Moultrie
Newnan
Norcross
Oakwood
Peachtree City
Perry
Pooler
Rincon
Riverdale
Rockmart
Rome (2)
Roswell
Saint Marys
Sandersville
Savannah (6)
Snellville (3)
Statesboro (2)
Stockbridge (2)
Stone Mountain (2)
Suwanee
Swainsboro
Sylvester
Thomaston
Thomasville
Thomson
Tifton (2)
Toccoa
Trion
Tucker (2)
Union City
Valdosta (3)
Vidalia
Villa Rica
Warner Robins (4)
Waycross (2)
Waynesboro
Winder
Woodstock (2)
"""
for city in f.split('\n'):
    if city not in df[df.State == 'GA'].Town.unique():
        print(city)

Acworth (2)
Albany (4)
Alpharetta (2)
Athens (3)
Atlanta (5)
Augusta (4)
Brunswick (2)
Buford (2)
Columbus (7)
Covington (2)
Cumming (3)
Dalton (3)
Decatur (2)
Dunwoody (2)
Fort Oglethorpe (2)
Gainesville (3)
Grovetown (2)
Hinesville (3)
Lagrange (2)
Lawrenceville (3)
Lithonia (2)
Macon (3)
Marietta (7)
Mcdonough
Rome (2)
Savannah (6)
Snellville (3)
Statesboro (2)
Stockbridge (2)
Stone Mountain (2)
Tifton (2)
Tucker (2)
Valdosta (3)
Warner Robins (4)
Waycross (2)
Woodstock (2)

In [109]:
df[df.Town=='McDonough']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
1250,3201,GA,McDonough,135 Willow Ln.,Walmart Supercenter,2001-03-14,NaT

In [107]:
pd.set_option('display.max_rows', None)
c=0
coucou = df[df.State=='GA'].groupby('Town').count()
coucou[coucou.Store_id!=1]

                 Store_id  State  Street  Category  Opening_date  Closing_date
Town
Acworth                 2      2       2         2             2             0
Albany                  4      4       4         4             4             0
Alpharetta              2      2       2         2             2             0
Athens                  3      3       3         3             3             0
Atlanta                 5      5       5         5             5             0
Augusta                 4      4       4         4             4             0
Brunswick               2      2       2         2             2             0
Buford                  2      2       2         2             2             0
Columbus                7      7       7         7             7             0
Covington               2      2       2         2             2             0
Cumming                 3      3       3         3             3             0
Dalton                  3      3       3         3             3             0
Decatur                 2      2       2         2             2             0
Dunwoody                2      2       2         2             2             0
Fort Oglethorpe         2      2       2         2             2             0
Gainesville             3      3       3         3             3             0
Grovetown               2      2       2         2             2             0
Hinesville              3      3       3         3             3             0
LaGrange                2      2       2         2             2             0
Lawrenceville           3      3       3         3             3             0
Lithonia                2      2       2         2             2             0
Macon                   3      3       3         3             3             0
Marietta                7      7       7         7             7             0
Rome                    2      2       2         2             2             0
Savannah                6      6       6         6             6             0
Snellville              3      3       3         3             3             0
Statesboro              2      2       2         2             2             0
Stockbridge             2      2       2         2             2             0
Stone Mountain          2      2       2         2             2             0
Tifton                  2      2       2         2             2             0
Tucker                  2      2       2         2             2             0
Valdosta                3      3       3         3             3             0
Warner Robins           4      4       4         4             4             0
Waycross                2      2       2         2             2             0
Woodstock               2      2       2         2             2             0

In [78]:
df[df.Town=='Asheville']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2805,1317,NC,Asheville,125 Bleachery Blvd.,Walmart Supercenter,1990-10-01,NaT
2806,4428,NC,Asheville,1636 Hendersonville Rd.,Walmart Supercenter,2010-08-18,NaT

In [80]:
for town in df[df.State=='NC'].Town.unique():
    if town not in f.split('\n'):
        print(town)

Hampstead
Saint Pauls
Winston-Salem
Ayden
Benson
Broadway
Carthage
Coats
Four Oaks
Liberty
Midway
Oriental
Pikeville
Princeton
Red Springs
Richfield
Snow Hill
Stedman
Wadesboro
Yanceyville

In [70]:
df[df.Town=='Yaphank']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2797,8331,NY,Yaphank,901 Boulevard East,Walmart Supercenter,2021-11-03,NaT

In [58]:
df[df.State=='TN'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_1020/1870760542.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.State=='TN'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3588,3599,TN,Bartlett,6520 Memphis Arlington Rd.,Neighborhood Market,2002-10-09,NaT
3666,5043,TN,Memphis,6990 E Shelby Dr.,Neighborhood Market,2002-10-16,NaT
3667,5122,TN,Memphis,2856 Hickory Hill Rd.,Neighborhood Market,2003-05-07,NaT
3684,5119,TN,Nashville,5531 Edmondson Pike,Neighborhood Market,2003-10-08,NaT
3659,5107,TN,Madison,109 Gallatin Pike N,Neighborhood Market,2005-08-31,NaT
3596,5143,TN,Chattanooga,8101 East Brainerd Rd.,Neighborhood Market,2015-09-09,NaT
3603,4591,TN,Clarksville,408 Tiny Town Road,Neighborhood Market,2015-09-30,NaT
3602,4589,TN,Clarksville,216 Dover Road,Neighborhood Market,2015-10-14,NaT
3620,4692,TN,East Ridge,4150 Ringgold Road,Neighborhood Market,2015-10-28,NaT
3601,4469,TN,Clarksville,2551 Whitfield Road,Neighborhood Market,2015-11-04,NaT
3595,3619,TN,Chattanooga,3901 Hixson Pike Suite 181,Neighborhood Market,2015-11-11,NaT
3642,5734,TN,Kingsport,750 Lynn Garden Dr.,Neighborhood Market,2015-11-11,NaT
3629,5188,TN,Hixson,7636 Middle Valley Rd.,Neighborhood Market,2016-01-13,NaT
3674,5467,TN,Morristown,1997 Buffalo Trail,Neighborhood Market,2016-01-20,NaT
3679,5182,TN,Murfreesboro,2478 New Salem Highway,Neighborhood Market,2016-01-27,NaT
4788,4671,TN,Chattanooga,4110 Shallowford Rd.,Neighborhood Market,2016-01-27,2022-01-01
3678,5148,TN,Murfreesboro,1153 Fortress Blvd.,Neighborhood Market,2016-01-27,NaT
3703,5908,TN,Sevierville,1185 Dolly Parton Pkwy.,Neighborhood Market,2016-03-02,NaT
3645,3959,TN,Knoxville,3120 McKamey Road,Neighborhood Market,2017-01-25,NaT
4787,2375,TN,Chapel Hill,4718 Nashville Hwy,Neighborhood Market,NaT,2016-01-28
4789,4301,TN,Cornersville,400 North Main St.,Neighborhood Market,NaT,2016-01-28
4790,4306,TN,Dover,934 US-79,Neighborhood Market,NaT,2016-01-28
4792,2413,TN,Loretto,523 N Military St.,Neighborhood Market,NaT,2016-01-28
4794,3306,TN,Nashville,1220 Gallatin Ave.,Neighborhood Market,NaT,2016-01-28

In [64]:
df = pd.read_csv('fandom_trait√©es.csv', parse_dates=['Opening_date', 'Closing_date'])
for state in df.State.unique():
    df_MO = df[df.State == state]
    print(f"{state} -- 2016\n{df_MO.loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()}")
    print(f"{state} -- 2017 {df_MO.loc[(df.Opening_date <= '2017-01-31') & ((df.Closing_date>='2017-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()}")

AL -- 2016
Category
Clinic Pharmacy          1
Neighborhood Market     24
Walmart                  1
Walmart Supercenter    100
Name: Category, dtype: int64
AL -- 2017 Category
Clinic Pharmacy            1
Convenience with Fuel      1
Neighborhood Market       28
Walmart                    1
Walmart Supercenter      101
Name: Category, dtype: int64
AK -- 2016
Category
Walmart                2
Walmart Supercenter    8
Name: Category, dtype: int64
AK -- 2017 Category
Walmart                2
Walmart Supercenter    7
Name: Category, dtype: int64
AZ -- 2016
Category
Neighborhood Market    28
Walmart                 2
Walmart Supercenter    80
Name: Category, dtype: int64
AZ -- 2017 Category
Neighborhood Market    28
Walmart                 2
Walmart Supercenter    81
Name: Category, dtype: int64
AR -- 2016
Category
Clinic Pharmacy         3
Neighborhood Market    29
Walmart                 7
Walmart Supercenter    76
Name: Category, dtype: int64
AR -- 2017 Category
Clinic Pharmacy           3
Convenience with Fuel     1
Neighborhood Market      33
Walmart                   7
Walmart Supercenter      76
Name: Category, dtype: int64
CA -- 2016
Category
Neighborhood Market     67
Walmart                 71
Walmart Supercenter    141
Name: Category, dtype: int64
CA -- 2017 Category
Neighborhood Market     68
Walmart                 71
Walmart Supercenter    144
Name: Category, dtype: int64
CO -- 2016
Category
Neighborhood Market    17
Walmart                 5
Walmart Supercenter    69
Name: Category, dtype: int64
CO -- 2017 Category
Convenience with Fuel     1
Neighborhood Market      18
Walmart                   5
Walmart Supercenter      69
Name: Category, dtype: int64
CT -- 2016
Category
Neighborhood Market     1
Walmart                21
Walmart Supercenter    12
Name: Category, dtype: int64
CT -- 2017 Category
Neighborhood Market     1
Walmart                21
Walmart Supercenter    12
Name: Category, dtype: int64
DE -- 2016
Category
Walmart                3
Walmart Supercenter    6
Name: Category, dtype: int64
DE -- 2017 Category
Walmart                3
Walmart Supercenter    6
Name: Category, dtype: int64
DC -- 2016
Category
Walmart Supercenter    3
Name: Category, dtype: int64
DC -- 2017 Category
Walmart Supercenter    3
Name: Category, dtype: int64
FL -- 2016
Category
Clinic Pharmacy          2
Neighborhood Market     74
Walmart                  9
Walmart Supercenter    224
Name: Category, dtype: int64
FL -- 2017 Category
Clinic Pharmacy          2
Neighborhood Market     87
Walmart                  9
Walmart Supercenter    229
Name: Category, dtype: int64
GA -- 2016
Category
Clinic Pharmacy          2
Neighborhood Market     32
Walmart                  2
Walmart Supercenter    152
Name: Category, dtype: int64
GA -- 2017 Category
Clinic Pharmacy          2
Neighborhood Market     34
Walmart                  2
Walmart Supercenter    153
Name: Category, dtype: int64
HI -- 2016
Category
Walmart    10
Name: Category, dtype: int64
HI -- 2017 Category
Walmart    10
Name: Category, dtype: int64
ID -- 2016
Category
Neighborhood Market     2
Walmart Supercenter    23
Name: Category, dtype: int64
ID -- 2017 Category
Neighborhood Market     3
Walmart Supercenter    23
Name: Category, dtype: int64
IL -- 2016
Category
Neighborhood Market      5
Walmart                 17
Walmart Supercenter    138
Name: Category, dtype: int64
IL -- 2017 Category
Neighborhood Market      5
Walmart                 17
Walmart Supercenter    139
Name: Category, dtype: int64
IN -- 2016
Category
Clinic Pharmacy         1
Neighborhood Market     9
Walmart                 7
Walmart Supercenter    96
Name: Category, dtype: int64
IN -- 2017 Category
Clinic Pharmacy         1
Neighborhood Market     9
Walmart                 7
Walmart Supercenter    97
Name: Category, dtype: int64
IA -- 2016
Category
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
IA -- 2017 Category
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KS -- 2016
Category
Neighborhood Market    15
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KS -- 2017 Category
Neighborhood Market    15
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KY -- 2016
Category
Clinic Pharmacy         1
Neighborhood Market     8
Walmart                 9
Walmart Supercenter    76
Name: Category, dtype: int64
KY -- 2017 Category
Clinic Pharmacy         1
Neighborhood Market     9
Walmart                 9
Walmart Supercenter    78
Name: Category, dtype: int64
LA -- 2016
Category
Neighborhood Market    29
Walmart                 2
Walmart Supercenter    88
Name: Category, dtype: int64
LA -- 2017 Category
Neighborhood Market    32
Walmart                 2
Walmart Supercenter    88
Name: Category, dtype: int64
ME -- 2016
Category
Walmart                 3
Walmart Supercenter    19
Name: Category, dtype: int64
ME -- 2017 Category
Walmart                 3
Walmart Supercenter    19
Name: Category, dtype: int64
MD -- 2016
Category
Walmart                17
Walmart Supercenter    30
Name: Category, dtype: int64
MD -- 2017 Category
Walmart                17
Walmart Supercenter    30
Name: Category, dtype: int64
MA -- 2016
Category
Walmart                22
Walmart Supercenter    27
Name: Category, dtype: int64
MA -- 2017 Category
Walmart                22
Walmart Supercenter    27
Name: Category, dtype: int64
MI -- 2016
Category
Walmart                 4
Walmart Supercenter    89
Name: Category, dtype: int64
MI -- 2017 Category
Walmart                 4
Walmart Supercenter    89
Name: Category, dtype: int64
MN -- 2016
Category
Walmart                 5
Walmart Supercenter    65
Name: Category, dtype: int64
MN -- 2017 Category
Walmart                 5
Walmart Supercenter    65
Name: Category, dtype: int64
MS -- 2016
Category
Neighborhood Market     5
Walmart                 4
Walmart Supercenter    64
Name: Category, dtype: int64
MS -- 2017 Category
Neighborhood Market     8
Walmart                 4
Walmart Supercenter    64
Name: Category, dtype: int64
MO -- 2016
Category
Neighborhood Market     15
Walmart                 11
Walmart Supercenter    111
Name: Category, dtype: int64
MO -- 2017 Category
Neighborhood Market     16
Walmart                  9
Walmart Supercenter    111
Name: Category, dtype: int64
MT -- 2016
Category
Walmart Supercenter    13
Name: Category, dtype: int64
MT -- 2017 Category
Walmart Supercenter    13
Name: Category, dtype: int64
NE -- 2016
Category
Neighborhood Market     7
Walmart Supercenter    35
Name: Category, dtype: int64
NE -- 2017 Category
Neighborhood Market     7
Walmart Supercenter    35
Name: Category, dtype: int64
NV -- 2016
Category
Neighborhood Market    11
Walmart                 2
Walmart Supercenter    29
Name: Category, dtype: int64
NV -- 2017 Category
Neighborhood Market    11
Walmart                 2
Walmart Supercenter    29
Name: Category, dtype: int64
NH -- 2016
Category
Walmart                 8
Walmart Supercenter    19
Name: Category, dtype: int64
NH -- 2017 Category
Walmart                 8
Walmart Supercenter    19
Name: Category, dtype: int64
NJ -- 2016
Category
Walmart                30
Walmart Supercenter    30
Name: Category, dtype: int64
NJ -- 2017 Category
Walmart                30
Walmart Supercenter    32
Name: Category, dtype: int64
NM -- 2016
Category
Neighborhood Market     7
Walmart                 2
Walmart Supercenter    35
Name: Category, dtype: int64
NM -- 2017 Category
Neighborhood Market     9
Walmart                 2
Walmart Supercenter    35
Name: Category, dtype: int64
NY -- 2016
Category
Neighborhood Market     2
Walmart                17
Walmart Supercenter    81
Name: Category, dtype: int64
NY -- 2017 Category
Neighborhood Market     2
Walmart                17
Walmart Supercenter    81
Name: Category, dtype: int64
NC -- 2016
Category
Neighborhood Market     42
Walmart                  7
Walmart Supercenter    139
Name: Category, dtype: int64
NC -- 2017 Category
Neighborhood Market     45
Walmart                  7
Walmart Supercenter    141
Name: Category, dtype: int64
ND -- 2016
Category
Walmart Supercenter    14
Name: Category, dtype: int64
ND -- 2017 Category
Walmart Supercenter    14
Name: Category, dtype: int64
OH -- 2016
Category
Walmart                  6
Walmart Supercenter    139
Name: Category, dtype: int64
OH -- 2017 Category
Walmart                  6
Walmart Supercenter    139
Name: Category, dtype: int64
OK -- 2016
Category
Neighborhood Market    31
Walmart                 9
Walmart Supercenter    79
Name: Category, dtype: int64
OK -- 2017 Category
Neighborhood Market    33
Walmart                 9
Walmart Supercenter    81
Name: Category, dtype: int64
OR -- 2016
Category
Neighborhood Market     9
Walmart                 7
Walmart Supercenter    28
Name: Category, dtype: int64
OR -- 2017 Category
Neighborhood Market     9
Walmart                 7
Walmart Supercenter    28
Name: Category, dtype: int64
PA -- 2016
Category
Neighborhood Market      1
Walmart                 21
Walmart Supercenter    115
Name: Category, dtype: int64
PA -- 2017 Category
Neighborhood Market      1
Walmart                 21
Walmart Supercenter    116
Name: Category, dtype: int64
RI -- 2016
Category
Walmart                4
Walmart Supercenter    5
Name: Category, dtype: int64
RI -- 2017 Category
Walmart                4
Walmart Supercenter    5
Name: Category, dtype: int64
SC -- 2016
Category
Neighborhood Market    18
Walmart Supercenter    81
Name: Category, dtype: int64
SC -- 2017 Category
Neighborhood Market    25
Walmart Supercenter    83
Name: Category, dtype: int64
SD -- 2016
Category
Walmart Supercenter    14
Name: Category, dtype: int64
SD -- 2017 Category
Walmart Supercenter    15
Name: Category, dtype: int64
TN -- 2016
Category
Neighborhood Market     18
Walmart                  2
Walmart Supercenter    115
Name: Category, dtype: int64
TN -- 2017 Category
Neighborhood Market     20
Walmart                  2
Walmart Supercenter    117
Name: Category, dtype: int64
TX -- 2016
Category
Clinic Pharmacy          4
Neighborhood Market     85
Walmart                 21
Walmart Supercenter    373
Name: Category, dtype: int64
TX -- 2017 Category
Clinic Pharmacy            4
Convenience with Fuel      1
Neighborhood Market      100
Walmart                   20
Walmart Supercenter      380
Name: Category, dtype: int64
UT -- 2016
Category
Neighborhood Market    10
Walmart Supercenter    41
Name: Category, dtype: int64
UT -- 2017 Category
Neighborhood Market    10
Walmart Supercenter    41
Name: Category, dtype: int64
VT -- 2016
Category
Walmart                3
Walmart Supercenter    2
Name: Category, dtype: int64
VT -- 2017 Category
Walmart                3
Walmart Supercenter    3
Name: Category, dtype: int64
VA -- 2016
Category
Neighborhood Market     20
Walmart                  5
Walmart Supercenter    106
Name: Category, dtype: int64
VA -- 2017 Category
Neighborhood Market     23
Walmart                  5
Walmart Supercenter    108
Name: Category, dtype: int64
WA -- 2016
Category
Neighborhood Market     5
Walmart                10
Walmart Supercenter    52
Name: Category, dtype: int64
WA -- 2017 Category
Neighborhood Market     5
Walmart                10
Walmart Supercenter    52
Name: Category, dtype: int64
WV -- 2016
Category
Clinic Pharmacy         1
Walmart Supercenter    38
Name: Category, dtype: int64
WV -- 2017 Category
Clinic Pharmacy         1
Walmart Supercenter    38
Name: Category, dtype: int64
WI -- 2016
Category
Neighborhood Market     2
Walmart                 4
Walmart Supercenter    83
Name: Category, dtype: int64
WI -- 2017 Category
Neighborhood Market     2
Walmart                 4
Walmart Supercenter    83
Name: Category, dtype: int64
WY -- 2016
Category
Walmart Supercenter    12
Name: Category, dtype: int64
WY -- 2017 Category
Walmart Supercenter    12
Name: Category, dtype: int64

In [65]:
df[df.State=='CO'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_854/2819759545.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.State=='CO'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4683,5002,CO,Littleton,8196 West Bowles Ave.,Neighborhood Market,1900-01-01,2016-01-17
4681,3021,CO,Denver,2253 S Monaco Pkwy.,Neighborhood Market,1900-01-01,2016-01-28
4680,3096,CO,Boulder,2972 Iris Avenue,Neighborhood Market,1900-01-01,2022-01-01
4679,3020,CO,Arvada,64 W Ave.,Neighborhood Market,2012-06-20,2017-07-07
682,3128,CO,Denver,1442 S Parker Rd.,Neighborhood Market,2012-06-20,NaT
666,3126,CO,Centennial,16746 E Smoky Hill Rd.,Neighborhood Market,2012-06-20,NaT
681,3127,CO,Denver,5141 Chambers Rd.,Neighborhood Market,2012-06-29,NaT
4682,3907,CO,Littleton,3615 West Bowles Ave.,Neighborhood Market,2012-06-29,2017-04-07
730,3019,CO,Thornton,850 E 88th Ave.,Neighborhood Market,2012-08-15,NaT
669,3083,CO,Colorado Springs,665 N Murray Blvd.,Neighborhood Market,2012-08-29,NaT
668,3082,CO,Colorado Springs,1622 S Academy Blvd.,Neighborhood Market,2013-01-16,NaT
671,3176,CO,Colorado Springs,1725 N Union Blvd.,Neighborhood Market,2013-08-12,NaT
670,3175,CO,Colorado Springs,4142 Austin Bluffs Pkwy.,Neighborhood Market,2013-11-06,NaT
653,4196,CO,Aurora,15240 E Iliff Avenue,Neighborhood Market,2013-11-06,NaT
719,4747,CO,Northglenn,10755 Washington Street,Neighborhood Market,2014-07-16,NaT
734,6177,CO,Westminster,7170 N Federal Blvd.,Neighborhood Market,2015-01-21,NaT
654,6178,CO,Aurora,10400 E Colfax Avenue,Neighborhood Market,2015-01-21,NaT
698,4491,CO,Grand Junction,541 Warrior Way,Neighborhood Market,2015-11-11,NaT
652,3740,CO,Aurora,21475 E Quincy Ave.,Neighborhood Market,2015-11-11,NaT
722,5828,CO,Pueblo,2730 S Prairie Ave.,Neighborhood Market,2016-03-16,NaT

In [9]:
import numpy as np

In [12]:
df_MO[np.vectorize(str)(df_MO.Closing_date)=='NaT']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3148,231,OK,Ada,1419 N Country Club Rd.,Walmart Supercenter,1978-09-19,NaT
3149,479,OK,Altus,2500 N Main St.,Walmart Supercenter,1982-09-21,NaT
3150,178,OK,Alva,914 E Oklahoma Blvd.,Walmart Supercenter,1977-11-01,NaT
3151,162,OK,Anadarko,1201 W Petree Rd.,Walmart Supercenter,1977-06-01,NaT
3152,129,OK,Ardmore,1715 N Commerce St.,Walmart Supercenter,1975-07-01,NaT
...,...,...,...,...,...,...,...
3264,2875,OK,Warr Acres,6437 N MacArthur Blvd.,Neighborhood Market,2000-01-12,NaT
3265,392,OK,Weatherford,1349 Eagle Rd.,Walmart Supercenter,1981-06-02,NaT
3266,150,OK,Woodward,3215 Williams Ave.,Walmart Supercenter,1976-10-01,NaT
3267,3637,OK,Yukon,1001 E Main Street,Neighborhood Market,2015-01-31,NaT
3268,221,OK,Yukon,1200 Garth Brooks Blvd.,Walmart Supercenter,1978-10-31,NaT

In [19]:
df = pd.read_csv('fandom_trait√©es.csv', parse_dates=['Opening_date', 'Closing_date'])
df_MO = df[df.State == 'CT']
print(df_MO.loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count())
#print(df_MO.loc[(df.Opening_date <= '2016-01-31') & (df.Closing_date>='2016-01-31')].groupby('Category')['Category'].count())
#df_MO[df_MO.Closing_date.notnull()]
#print(df_MO.loc[(df.Opening_date <= '2017-01-31') | (df.Closing_date>'2017-01-31')].groupby('Category')['Category'].count())
df_MO[df_MO.Category=='Neighborhood Market'].sort_values('Opening_date')

Category
Neighborhood Market     1
Walmart                21
Walmart Supercenter    12
Name: Category, dtype: int64

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4677,2305,CT,Bristol,325 Oakland St,Neighborhood Market,2013-01-01,2017-01-01
4681,2303,CT,West Hartford,333 N Main St,Neighborhood Market,2013-01-01,2016-01-28

In [4]:
df.loc[(df.Closing_date>='2016-01-31') & (df.Closing_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AK    1
CT    1
IL    1
MO    2
TX    1
Name: Store_id, dtype: int64

In [103]:
df[(df.Opening_date.dt.month==1) & (df.Opening_date.dt.day==31) & (df.Opening_date.dt.year > 2015)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
345,241,AR,Rogers,4206 S Pleasant Crossing Blvd.,Convenience with Fuel,2017-01-31,NaT
995,6149,FL,Orlando,13801 Landstar and Arbor Meadows Blvd.,Neighborhood Market,2018-01-31,NaT
3557,377,SC,Sumter,343 Pinewood Rd.,Neighborhood Market,2018-01-31,NaT
3737,2466,TX,Arlington,4851 S Cooper Street,Convenience with Fuel,2019-01-31,NaT

In [98]:
df.loc[(df.Opening_date>='2016-01-31') & (df.Opening_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AL     5
AR     5
AZ     1
CA     4
CO     1
FL    18
GA     3
ID     1
IL     1
IN     1
KY     3
LA     3
MO     1
MS     3
NC     5
NJ     2
NM     2
OK     4
PA     1
SC     9
SD     1
TN     4
TX    21
VA     5
VT     1
Name: Store_id, dtype: int64

In [40]:
df[df.Category=='Walmart'][df.State=='TX'].sort_values('Opening_date')

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_684/2736168148.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Category=='Walmart'][df.State=='TX'].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3775,283,TX,Bridge City,795 Texas Ave.,Walmart,1980-02-26,NaT
4067,293,TX,Navasota,1712 E Washington Ave.,Walmart,1980-05-28,NaT
4040,320,TX,Marlin,600 S State Highway 6,Walmart,1980-10-14,NaT
3824,385,TX,Cuero,1202 E Broadway St.,Walmart,1981-07-28,NaT
4778,474,TX,Edna,1002 N Wells,Walmart,1982-11-02,2018-01-01
3916,473,TX,Giddings,2374 E Austin St.,Walmart,1983-04-05,NaT
4007,554,TX,Laredo,5610 San Bernardo Ave.,Walmart,1983-06-07,NaT
3806,503,TX,Columbus,2103 Milam St.,Walmart,1983-08-02,NaT
4086,478,TX,Pearsall,819 N Oak St.,Walmart,1984-03-06,NaT
3785,567,TX,Caldwell,475 State Highway 36 N,Walmart,1984-04-03,NaT
4035,446,TX,Madisonville,1620 E Main St.,Walmart,1984-04-03,NaT
4223,482,TX,West Columbia,301 N Columbia Dr.,Walmart,1984-07-17,NaT
4172,626,TX,Seminole,2000 Hobbs Hwy.,Walmart,1984-10-02,NaT
4087,898,TX,Pecos,1903 S Cedar St.,Walmart,1986-05-20,NaT
3932,951,TX,Hempstead,625 Highway 290 E,Walmart,1986-09-02,NaT
4782,1050,TX,Lamesa,2406 Lubbock Hwy,Walmart,1987-01-13,2016-01-17
3788,1046,TX,Carrizo Springs,2214 N 1st St.,Walmart,1987-05-12,NaT
3927,1067,TX,Hallettsville,1506 N Texana St.,Walmart,1987-06-30,NaT
3755,1078,TX,Ballinger,2005 Hutchins Ave.,Walmart,1987-06-30,NaT
4775,1092,TX,Brownfield,1405 Tahoka Rd,Walmart,1987-11-03,2017-01-31
3946,2718,TX,Houston,9555 S Post Oak Rd.,Walmart,1999-10-27,NaT
4779,926,TX,Falfurrias,US-281 South,Walmart,NaT,2015-01-01

In [110]:
df.groupby('Category')['Category'].count()

Category
Clinic Pharmacy            18
Convenience with Fuel       8
Neighborhood Marker         2
Neighborhood Market       770
Supercenter                 1
Walmart                   409
Walmart Express             1
Walmart Pickup              4
Walmart Supercenter      3576
Name: Category, dtype: int64

In [45]:
df['Closing_year'] = df.Closing_date.str[-4:]
df['Opening_year'] = df.Opening_date.str[-4:]
pd.set_option('display.max_rows', 10)
df[df.Closing_year == '2015'][df.Closing_month=='01'];

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_4144/3599529141.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Closing_year == '2015'][df.Closing_month=='01']

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date, Closing_year, Opening_year, Opening_month, Closing_month]
Index: []

In [ ]:
from difflib import SequenceMatcher

In [ ]:
for index, store in df[df.Closing_date == '2016'].iterrows():
    if store['Town'] in list(df2['Town']):
        for store2 in df[df.Town == store['Town']]:
            print(df[df.Town == store['Town']])
            if SequenceMatcher(None, store['Street'].capitalize(), store2['Street'].capitalize()).ratio() > 0.8:
                print('coucou')

In [21]:
df2[df2.Town == 'Dickson City']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [45]:
df2 = pd.read_csv('wallmart_exit2016_donn√©es_trait√©es.csv')
df2.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [73]:
df2[df2.Town == 'Aurora']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [ ]:
with open('wallmart_exit2016.txt') as f:
    content = f.read()
for number in df2['Unnamed: 1']:
    if str(number) in content:
        print(number)

In [ ]:
df[df.Town == "Pacolet"]

In [38]:
df3 = pd.read_csv('walmart_opening_1962_2006.csv')

In [52]:
df4.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [93]:
df4 = pd.read_csv('Walmarts.csv')
df5= pd.DataFrame(df4['Store Name'].str.split(',').to_list())
df5['State']=df5[3].str[1:3]
df5[2] = df5[2].str[1:]
df5.head()

,0,1,2,3,4,State
0,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR 72761 - Walmart.com,None,AR
1,Walmart Supercenter,1621 North Business 9,Morrilton,AR 72110 - Walmart.com,None,AR
2,Walmart Supercenter,1155 Hwy 65 North,Conway,AR 72032 - Walmart.com,None,AR
3,Walmart Supercenter,9053 Highway 107,Sherwood,AR 72120 - Walmart.com,None,AR
4,Walmart Supercenter,30983 Highway 441 S,Commerce,GA 30529 - Walmart.com,None,GA

In [35]:
df_=pd.read_csv('walmart_opening_1962_2006.csv')

In [38]:
df_[(df_.state=='MS')&(df_.type=='Wal-MartStore')]

,opendate,st.address,city,state,long,lat,type
103,1975-04-01,200 WALMART CIRCLE,Booneville,MS,-88.53751,34.653448,Wal-MartStore
135,1976-09-01,1445 HWY 45 NORTH,West Point,MS,-88.64686,33.619058,Wal-MartStore
147,1977-02-01,350 WAL-MART CIRCLE,Pontotoc,MS,-89.00425,34.236312,Wal-MartStore
159,1977-07-01,822 CITY AVENUE SOUTH,Ripley,MS,-88.92629,34.739023,Wal-MartStore
224,1979-05-15,620 SOUTH APPLEGATE ST,Winona,MS,-89.73155,33.481491,Wal-MartStore
237,1979-08-21,1110 BATTLEGROUND DRIVE,Iuka,MS,-88.10205,34.803864,Wal-MartStore
401,1981-07-04,2302 HWY 82 WEST,Greenwood,MS,-90.17663,33.528734,Wal-MartStore
485,1982-08-03,660 EAST MADISON,Houston,MS,-88.96710,33.904246,Wal-MartStore
924,1986-09-30,110 MARKET PLACE,Hazlehurst,MS,-90.42995,31.841281,Wal-MartStore
1049,1987-10-01,921 HWY 35 SOUTH,Forest,MS,-89.46552,32.379693,Wal-MartStore
1087,1987-12-31,2381 PASS ROAD,Biloxi,MS,-88.96219,30.405831,Wal-MartStore
1231,1989-02-02,1524 HWY 19 NORTH,Meridian,MS,-88.74940,32.358891,Wal-MartStore

In [39]:
df[(df.State=='MS')&(df.Category=='Walmart')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2315,176,MS,Ripley,822 City Ave. S,Walmart,1977-07-01,NaT
2287,274,MS,Iuka,1110 Battleground Dr.,Walmart,1979-08-21,NaT
2285,411,MS,Houston,660 E Madison St.,Walmart,1982-08-03,NaT

In [36]:
df_.type.unique()

array(['DistributionCenter', 'SuperCenter', 'Wal-MartStore'], dtype=object)

ILLINOIS :
- McHenry
- Matteson
- East Dundee
- Spring Valley
- Glenwood

In [56]:
import pandas as pd
import numpy as np

fandom = pd.read_csv('fandom_trait√©es.csv')
df1 = pd.read_csv('wallmart_exit2016_donn√©es_trait√©es.csv')
df2 = pd.read_csv('walmart_opening_1962_2006.csv')
df3 = pd.read_csv('Walmarts.csv')

In [3]:
fandom.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [4]:
df1.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [5]:
id_not_in_fandom = []
for id in df1.Store_id.unique():
    if str(id) not in fandom.Store_id.unique():
        print(id)
        id_not_in_fandom.append(id)
df1[np.isin(df1.Store_id, id_not_in_fandom)]

2349
2343
2347
2342
3667
3684
3689
3697
4903
6648
6665
6681

     Store_id                       Street        Town State Closing_date
83       2349          221 S State Hwy 274        Kemp    TX    1/28/2016
143      2343        7B Calle Munoz Rivera    Villalba    PR    1/28/2016
144      2347              Bo Salto Arriba      Utuado    PR    1/28/2016
145      2342      PR 14 Parque Industrial       Coamo    PR    1/28/2016
146      3667       1 Ave Monserrate STE 1    Carolina    PR    1/28/2016
147      3684           Carr 180 KM 0 HM 2     Salinas    PR    1/28/2016
148      3689  Centro Com Rio Grande State  Rio Grande    PR    1/28/2016
149      3697              Carr 165 KM 4.7    Toa Alta    PR    1/28/2016
150      4903             941 Grinnell St.  Fall River    MA    1/28/2016
151      6648         1110 Fall River Ave.     Seekonk    MA    1/28/2016
152      6665             495 Summit Drive   Waterford    MI    1/28/2016
153      6681                25 Pace Blvd.     Warwick    RI    1/28/2016

In [6]:
fandom[fandom.Town=='Warwick']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3456,2373,RI,Warwick,840 Post Rd.,Walmart,1996-06-26,NaN
3457,2747,RI,Warwick,650 Bald Hill Rd.,Walmart,2002-01-23,NaN

In [7]:
df2.head()

,opendate,st.address,city,state,long,lat,type
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore

In [8]:
id_not_in_fandom = []
for id in df2.Store_id.unique():
    if str(id) not in fandom.Store_id.unique():
        print(id)
        id_not_in_fandom.append(id)
df1[np.isin(df2.Store_id, id_not_in_fandom)]

AttributeError: 'DataFrame' object has no attribute 'Store_id'

In [9]:
df3.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [10]:
df4 = pd.DataFrame(df3['Store Name'].str.split(',').to_list())
df4['State']=df4[3].str[1:3]
df4[2] = df4[2].str[1:]
df4['Store_id'] = df3['Store Number']
df4.head()

,0,1,2,3,4,State,Store_id
0,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR 72761 - Walmart.com,None,AR,4
1,Walmart Supercenter,1621 North Business 9,Morrilton,AR 72110 - Walmart.com,None,AR,8
2,Walmart Supercenter,1155 Hwy 65 North,Conway,AR 72032 - Walmart.com,None,AR,5
3,Walmart Supercenter,9053 Highway 107,Sherwood,AR 72120 - Walmart.com,None,AR,7
4,Walmart Supercenter,30983 Highway 441 S,Commerce,GA 30529 - Walmart.com,None,GA,3

In [57]:
id_not_in_fandom = []
for id in df4[(df4.State != 'PR') & (df4[0] != "Sam's Club")].Store_id.unique():
    if str(id) not in fandom.Store_id.unique():
        print(id)
        id_not_in_fandom.append(id)
to_study = df4[np.isin(df4.Store_id, id_not_in_fandom)]

509
2376
2381
2380
2383
2382
2430
2622
3048
3068
3096
3125
3441
3556
3559
4401
5468
5621
5793
6468
6559
6589
6763
6776
6923
7425
7628

In [12]:
to_study.groupby('State').count()

       0  1  2  3  4  Store_id
State
AZ     2  2  2  2  0         2
CA     6  6  6  6  0         6
CO     3  3  3  3  0         3
FL     2  2  2  2  0         2
GA     4  4  4  4  0         4
IA     1  1  1  1  0         1
IL     3  3  3  3  0         3
IN     1  1  1  1  0         1
NM     1  1  1  1  0         1
NV     1  1  1  1  0         1
NY     2  2  2  2  0         2
OH     1  1  1  1  0         1
OK     1  1  1  1  0         1
PA     2  2  2  2  0         2
Po     1  1  1  1  1         1
Sa     1  1  1  1  1         1
TN     1  1  1  1  0         1
TX     6  6  6  6  0         6
VA     1  1  1  1  0         1

In [61]:
to_study[to_study.Store_id==5931]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, State, Store_id]
Index: []

In [62]:
fandom[fandom.State=='PA'].Category.unique()

array(['Walmart Supercenter', 'Walmart', 'Walmart Neighborhood Market'],
      dtype=object)