In [1]:
import pandas as pd
import datetime
import numpy as np

In [11]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
df = df[df.State == 'VA']

In [12]:
pd.set_option('display.max_rows', None)

In [15]:
len(df.loc[(df.Category!='Walmart')&(df.Category!='Walmart Supercenter')&(df.Opening_date<'2015-01-31')&((df.Closing_date>'2015-01-31')|(np.vectorize(str)(df.Closing_date)=='NaT'))].sort_values('Opening_date'))

13

In [17]:
df.loc[(df.Category=='Walmart Supercenter')].sort_values('Opening_date')#&(df.Category!='Walmart Supercenter')

,Store_id,State,County_name,County_fips,Town,Town_lat,Town_lng,Street,Category,Opening_date,Closing_date
4413,1023,VA,Galax,51640,Galax,36.6660,-80.9176,1140 E Stuart Dr.,Walmart Supercenter,1987-03-31,NaT
4446,1243,VA,Martinsville,51690,Martinsville,36.6826,-79.8636,976 Commonwealth Blvd.,Walmart Supercenter,1989-02-02,NaT
4393,1292,VA,Montgomery,51121,Christiansburg,37.1406,-80.4036,2400 N Franklin St.,Walmart Supercenter,1989-04-03,NaT
4475,1309,VA,Salem,51775,Salem,37.2864,-80.0555,1851 W Main St.,Walmart Supercenter,1989-06-01,NaT
4469,1301,VA,Roanoke,51770,Roanoke,37.2785,-79.9581,5350 Clearbrook Village Ln.,Walmart Supercenter,1989-06-29,NaT
4436,1335,VA,Lexington,51678,Lexington,37.7825,-79.4441,1233 N Lee Hwy.,Walmart Supercenter,1989-08-01,NaT
4459,1302,VA,Norton,51720,Norton,36.9314,-82.6262,780 Commonwealth Dr.,Walmart Supercenter,1989-08-01,NaT
4476,1345,VA,Halifax,51083,South Boston,36.7132,-78.9135,3471 Old Halifax Rd.,Walmart Supercenter,1989-10-02,NaT
4378,1399,VA,Bedford,51019,Bedford,37.3360,-79.5179,1126 E Lynchburg Salem Tpke.,Walmart Supercenter,1989-10-31,NaT
4480,1344,VA,Staunton,51790,Staunton,38.1593,-79.0611,1028 Richmond Avenue Connector,Walmart Supercenter,1989-12-30,NaT
4501,1406,VA,Winchester,51840,Winchester,39.1735,-78.1746,2350 S Pleasant Valley Rd.,Walmart Supercenter,1990-01-31,NaT
4406,1486,VA,Prince Edward,51147,Farmville,37.2959,-78.4002,1800 Perry Dr.,Walmart Supercenter,1990-06-27,NaT
4398,1465,VA,Danville,51590,Danville,36.5831,-79.4088,515 Mount Cross Rd.,Walmart Supercenter,1990-10-29,NaT
4414,1523,VA,Henrico,51087,Glen Allen,37.6660,-77.4838,11400 West Broad Street Road,Walmart Supercenter,1990-12-03,NaT
4447,1525,VA,Hanover,51085,Mechanicsville,37.6263,-77.3561,7430 Bell Creek Rd.,Walmart Supercenter,1990-12-03,NaT
4419,1631,VA,Hampton,51650,Hampton,37.0551,-76.3630,1900 Cunningham Dr.,Walmart Supercenter,1991-04-02,NaT
4399,1652,VA,Pulaski,51155,Dublin,37.0987,-80.6831,5225 Alexander Rd.,Walmart Supercenter,1991-04-02,NaT
4490,1688,VA,Virginia Beach,51810,Virginia Beach,36.7335,-76.0435,657 Phoenix Dr.,Walmart Supercenter,1991-07-02,NaT
4387,1682,VA,Chesapeake,51550,Chesapeake,36.6778,-76.3023,2448 Chesapeake Square Ring Rd.,Walmart Supercenter,1991-07-31,NaT
4483,1687,VA,Suffolk,51800,Suffolk,36.6953,-76.6398,1200 N Main St.,Walmart Supercenter,1991-10-01,NaT
4440,1350,VA,Lynchburg,51680,Lynchburg,37.4003,-79.1909,3900 Wards Rd.,Walmart Supercenter,1991-11-05,NaT
4485,1730,VA,Essex,51057,Tappahannock,37.9187,-76.8667,1660 Tappahannock Blvd.,Walmart Supercenter,1991-11-05,NaT
4420,1726,VA,Harrisonburg,51660,Harrisonburg,38.4362,-78.8735,171 Burgess Road,Walmart Supercenter,1991-11-05,NaT
4415,1759,VA,Gloucester,51073,Gloucester,37.4053,-76.5260,6819 Walton Ln.,Walmart Supercenter,1992-02-04,NaT
4443,1825,VA,Manassas,51683,Manassas,38.7479,-77.4838,8386 Sudley Rd.,Walmart Supercenter,1992-04-01,NaT
4451,1773,VA,Newport News,51700,Newport News,37.1051,-76.5185,12401 Jefferson Ave.,Walmart Supercenter,1992-04-01,NaT
4380,1763,VA,Tazewell,51185,Bluefield,37.2351,-81.2751,4001 College Ave.,Walmart Supercenter,1992-06-02,NaT
4455,1811,VA,Norfolk,51710,Norfolk,36.8945,-76.2590,1170 N Military Hwy.,Walmart Supercenter,1992-06-30,NaT
4408,1833,VA,Fredericksburg,51630,Fredericksburg,38.2992,-77.4872,1800 Carl D. Silver Pkwy.,Walmart Supercenter,1992-08-04,NaT
4388,1841,VA,Chesapeake,51550,Chesapeake,36.6778,-76.3023,1521 Sams Cir.,Walmart Supercenter,1992-09-30,NaT
4384,1780,VA,Charlottesville,51540,Charlottesville,38.0375,-78.4855,975 Hilton Heights Rd.,Walmart Supercenter,1992-11-02,NaT
4477,1934,VA,Mecklenburg,51117,South Hill,36.7254,-78.1287,315 Furr St.,Walmart Supercenter,1993-02-02,NaT
4504,1852,VA,Prince William,51153,Woodbridge,38.6409,-77.2580,14000 Worth Ave.,Walmart Supercenter,1993-02-02,NaT
4391,1524,VA,Chesterfield,51041,Chester,37.3531,-77.4342,12000 Iron Bridge Rd.,Walmart Supercenter,1993-02-22,NaT
4435,1904,VA,Loudoun,51107,Leesburg,39.1057,-77.5544,19360 Compass Creek Parkway,Walmart Supercenter,1993-06-01,NaT
4403,2015,VA,Fairfax,51600,Fairfax,38.8531,-77.2997,13059 Fair Lakes Parkway,Walmart Supercenter,1993-08-31,NaT
4448,1969,VA,Chesterfield,51041,Midlothian,37.4856,-77.6522,900 Walmart Way,Walmart Supercenter,1994-01-25,NaT
4481,2038,VA,Loudoun,51107,Sterling,39.0052,-77.4050,45415 Dulles Crossing Plaza,Walmart Supercenter,1994-01-25,NaT
4394,1424,VA,Colonial Heights,51570,Colonial Heights,37.2650,-77.3969,671 Southpark Blvd.,Walmart Supercenter,1994-03-01,NaT
4396,2136,VA,Culpeper,51047,Culpeper,38.4704,-78.0001,801 James Madison Hwy.,Walmart Supercenter,1995-01-25,NaT
4381,2089,VA,Bristol,51520,Bristol,36.6181,-82.1604,13245 Lee Hwy.,Walmart Supercenter,1995-03-15,NaT
4479,2438,VA,Stafford,51179,Stafford Courthouse,38.4184,-77.4202,217 Garrisonville Rd.,Walmart Supercenter,1995-12-28,NaT
4470,2312,VA,Roanoke,51770,Roanoke,37.2785,-79.9581,4807 Valley View Blvd. NW,Walmart Supercenter,1996-01-24,NaT
4473,2337,VA,Franklin,51067,Rocky Mount,37.0045,-79.8854,550 Old Franklin Tpke.,Walmart Supercenter,1996-07-17,NaT
4426,2295,VA,Richmond,51760,Richmond,37.5295,-77.4756,7901 Brook Rd.,Walmart Supercenter,1997-01-29,NaT
4491,2529,VA,Virginia Beach,51810,Virginia Beach,36.7335,-76.0435,2021 Lynnhaven Pkwy.,Walmart Supercenter,1997-07-16,NaT
4442,2565,VA,Amherst,51009,Madison Heights,37.4487,-79.1057,197 Madison Heights Sq.,Walmart Supercenter,1997-08-13,NaT
4409,2520,VA,Fredericksburg,51630,Fredericksburg,38.2992,-77.4872,125 Washington Square Plaza,Walmart Supercenter,1998-01-26,NaT
4379,2645,VA,Nottoway,51135,Blackstone,37.0822,-78.0030,1451 S Main St.,Walmart Supercenter,1998-07-15,NaT
4395,2662,VA,Covington,51580,Covington,37.7786,-79.9867,313 Thacker Ave.,Walmart Supercenter,1998-09-16,NaT
4461,2646,VA,Giles,51071,Pearisburg,37.3289,-80.7275,160 Kinter Way,Walmart Supercenter,1998-09-16,NaT
4407,2705,VA,Franklin,51620,Franklin,36.6831,-76.9386,1500 Armory Dr.,Walmart Supercenter,1999-01-27,NaT
4505,2647,VA,Shenandoah,51171,Woodstock,38.8750,-78.5160,461 W Reservoir Rd.,Walmart Supercenter,1999-01-27,NaT
4462,2160,VA,Petersburg,51730,Petersburg,37.2043,-77.3913,3500 S Crater Rd.,Walmart Supercenter,1999-06-16,NaT
4466,2762,VA,Radford,51750,Radford,37.1229,-80.5587,7373 Peppers Ferry Blvd.,Walmart Supercenter,1999-08-18,NaT
4496,2437,VA,Fauquier,51061,Warrenton,38.7176,-77.7976,700 James Madison Hwy.,Walmart Supercenter,1999-09-15,NaT
4438,2564,VA,Page,51139,Luray,38.6650,-78.4546,1036 US Highway 211 W,Walmart Supercenter,2000-01-26,NaT
4421,2807,VA,Harrisonburg,51660,Harrisonburg,38.4362,-78.8735,2160 John Wayland Hwy.,Walmart Supercenter,2000-01-26,NaT
4402,2805,VA,Emporia,51595,Emporia,36.6953,-77.5356,303 Market Dr.,Walmart Supercenter,2000-01-26,NaT
4427,2821,VA,Richmond,51760,Richmond,37.5295,-77.4756,2410 Sheila Ln.,Walmart Supercenter,2000-03-15,NaT
4449,2808,VA,Chesterfield,51041,Midlothian,37.4856,-77.6522,12200 Chattanooga Plaza,Walmart Supercenter,2000-05-17,NaT
4464,2761,VA,Tazewell,51185,Pounding Mill,37.0790,-81.7106,13320 G.C. Peery Hwy.,Walmart Supercenter,2000-06-14,NaT
4484,3214,VA,Suffolk,51800,Suffolk,36.6953,-76.6398,6259 College Dr.,Walmart Supercenter,2001-01-24,NaT
4492,3216,VA,Virginia Beach,51810,Virginia Beach,36.7335,-76.0435,1149 Nimmo Pkwy.,Walmart Supercenter,2001-05-16,NaT
4506,3270,VA,Wythe,51197,Wytheville,36.9530,-81.0881,345 Commonwealth Dr.,Walmart Supercenter,2001-09-19,NaT
4434,3480,VA,Russell,51167,Lebanon,36.8991,-82.0784,1050 Regional Park Rd.,Walmart Supercenter,2002-06-19,NaT
4507,3265,VA,York,51199,Yorktown,37.2352,-76.5146,2601 George Washington Memorial Hwy.,Walmart Supercenter,2002-07-17,NaT
4471,3243,VA,Roanoke,51770,Roanoke,37.2785,-79.9581,4524 Challenger Ave.,Walmart Supercenter,2002-09-18,NaT
4500,3219,VA,Williamsburg,51830,Williamsburg,37.2693,-76.7076,731 E Rochambeau Dr.,Walmart Supercenter,2003-01-22,NaT
4377,2795,VA,Hanover,51085,Ashland,37.7597,-77.4716,145 Hill Carter Pkwy.,Walmart Supercenter,2003-06-18,NaT
4444,3573,VA,Manassas,51683,Manassas,38.7479,-77.4838,9401 Liberia Ave.,Walmart Supercenter,2003-08-20,NaT
4498,5117,VA,Waynesboro,51820,Waynesboro,38.0674,-78.9014,116 Lucy Ln.,Walmart Supercenter,2004-01-21,NaT
4401,3588,VA,Prince William,51153,Dumfries,38.5670,-77.3233,17041 Jefferson Davis Hwy.,Walmart Supercenter,2004-03-17,NaT
4411,5343,VA,Fredericksburg,51630,Fredericksburg,38.2992,-77.4872,10001 Southpoint Pkwy.,Walmart Supercenter,2005-03-23,NaT
4502,3344,VA,Winchester,51840,Winchester,39.1735,-78.1746,501 Wal Mart Dr.,Walmart Supercenter,2005-11-09,NaT
4390,5253,VA,Chesapeake,51550,Chesapeake,36.6778,-76.3023,632 Grassfield Pkwy.,Walmart Supercenter,2006-01-31,NaT
4482,3770,VA,Patrick,51141,Stuart,36.6404,-80.2687,19265 Jeb Stuart Hwy.,Walmart Supercenter,2006-04-19,NaT
4374,3768,VA,Campbell,51031,Altavista,37.1235,-79.2856,125 Clarion Rd.,Walmart Supercenter,2006-07-19,NaT
4431,3772,VA,Lee,51105,Jonesville,36.6870,-83.1153,468 Trade Center Ln.,Walmart Supercenter,2006-08-16,NaT
4463,3831,VA,Portsmouth,51740,Portsmouth,36.8468,-76.3540,1098 Fredrick Blvd.,Walmart Supercenter,2007-01-19,NaT
4428,3869,VA,Richmond,51760,Richmond,37.5295,-77.4756,1504 N Parham Rd.,Walmart Supercenter,2007-01-22,NaT
4456,5488,VA,Norfolk,51710,Norfolk,36.8945,-76.2590,7530 Tidewater Dr.,Walmart Supercenter,2007-01-22,NaT
4432,4350,VA,Lancaster,51103,Kilmarnock,37.7118,-76.3834,200 Old Fairgrounds Way,Walmart Supercenter,2007-10-24,NaT
4412,5105,VA,Warren,51187,Front Royal,38.9260,-78.1838,10 Riverton Commons Dr.,Walmart Supercenter,2008-06-11,NaT
4392,4476,VA,Chesterfield,51041,Chesterfield,37.3764,−77.5038,14501 Hancock Village St.,Walmart Supercenter,2009-08-19,NaT
4410,4258,VA,Fredericksburg,51630,Fredericksburg,38.2992,-77.4872,11 Village Pkwy.,Walmart Supercenter,2009-10-14,NaT
4416,4682,VA,Orange,51137,Gordonsville,38.1360,-78.1879,164 Camp Creek Pkwy.,Walmart Supercenter,2009-11-11,NaT
4375,4636,VA,Appomattox,51011,Appomattox,37.3592,-78.8276,505 Oakville Rd.,Walmart Supercenter,2010-05-19,NaT
4460,4378,VA,Accomack,51001,Onley,37.6915,-75.7180,26036 Lankford Hwy.,Walmart Supercenter,2010-07-21,NaT
4441,4697,VA,Lynchburg,51680,Lynchburg,37.4003,-79.1909,3227 Old Forest Rd.,Walmart Supercenter,2010-08-18,NaT
4474,4638,VA,Greene,51079,Ruckersville,38.2314,-78.3756,135 Stoneridge Dr.,Walmart Supercenter,2010-08-18,NaT
4373,5753,VA,Alexandria,51510,Alexandria,38.8185,-77.0861,6303 Richmond Hwy.,Walmart Supercenter,2010-10-27,NaT
4389,3644,VA,Chesapeake,51550,Chesapeake,36.6778,-76.3023,201 Hillcrest Pkwy.,Walmart Supercenter,2011-07-20,NaT
4433,5779,VA,King George,51099,King George,38.2807,-77.1896,16375 Merchant Ln.,Walmart Supercenter,2011-08-17,NaT
4417,3303,VA,Buchanan,51027,Grundy,37.2754,-82.0988,1179 Riverview St.,Walmart Supercenter,2011-09-14,NaT
4404,5880,VA,Fairfax,51600,Fairfax,38.8531,-77.2997,11181 Lee Hwy.,Walmart Supercenter,2011-10-12,NaT
4503,4514,VA,Winchester,51840,Winchester,39.1735,-78.1746,201 Maranto Manor Dr.,Walmart Supercenter,2011-10-26,NaT
4383,5969,VA,Fairfax,51059,Chantilly,38.8868,-77.4453,4368 Chantilly Shopping Center Dr.,Walmart Supercenter,2012-03-14,NaT
4423,3077,VA,Prince William,51153,Haymarket,38.8121,-77.6363,6530 Trading Sq.,Walmart Supercenter,2012-09-12,NaT
4465,5847,VA,Powhatan,51145,Powhatan,37.5427,-77.9267,1950 Anderson Hwy.,Walmart Supercenter,2012-10-26,NaT
4452,4623,VA,Newport News,51700,Newport News,37.1051,-76.5185,6111 Jefferson Ave.,Walmart Supercenter,2013-02-01,NaT
4437,5731,VA,Orange,51137,Locust Grove,38.3055,-77.8105,2533 Germanna Hwy.,Walmart Supercenter,2013-07-10,NaT
4487,5936,VA,Fairfax,51059,Vienna,38.8996,-77.2597,1500 B Cornerside Blvd.,Walmart Supercenter,2013-08-14,NaT
4429,4191,VA,Richmond,51760,Richmond,37.5295,-77.4756,6920 Forest Avenue,Walmart Supercenter,2014-05-21,NaT
4493,4064,VA,Virginia Beach,51810,Virginia Beach,36.7335,-76.0435,4821 Virginia Beach Blvd.,Walmart Supercenter,2014-10-08,NaT
4400,3639,VA,Loudoun,51107,Dulles,38.9617,-77.5390,24635 Dulles Landing Drive,Walmart Supercenter,2015-07-01,NaT
4486,6952,VA,Rockingham,51165,Timberville,38.6335,-78.7731,375 S Main Street,Walmart Supercenter,2016-07-13,NaT
4370,154,VA,Washington,51191,Abingdon,36.7090,-81.9713,16032 Fifteen Mile Boulevard,Walmart Supercenter,2016-11-16,NaT
4494,5922,VA,Virginia Beach,51810,Virginia Beach,36.7335,-76.0435,546 Colonial Road,Walmart Supercenter,2017-06-07,NaT
4424,7032,VA,Richmond,51760,Richmond,37.5295,-77.4756,5001 Nine Mile Rd.,Walmart Supercenter,2017-07-19,NaT

In [23]:
dfxx[dfxx.city=='']

,opendate,st.address,city,state,long,lat,type
1502,1990-12-03,3040 BATTLEFIELD PKWY,Ft. Oglethorpe,GA,-85.25212,34.948979,SuperCenter

In [17]:
for city in dfxx[dfxx.state=='GA'].city.unique():
    if city not in df.Town.unique():
        print(city)

Savannah (S)
Gainsville
Summerville
La Grange
Cummings
Kennesaw
Ft. Oglethorpe
Valdosta (N)
Woodstock (W)
Lovejoy (Shilandra)
Marietta (Trade Ctr)

In [28]:
pd.set_option('display.max_rows', None)

In [29]:
df[np.vectorize(str)(df.Opening_date)=='NaT'].sort_values('State')

,Store_id,State,County_name,County_fips,Town,Town_lat,Town_lng,Street,Category,Opening_date,Closing_date
4845,4316,TX,Upshur,48459,Diana,32.706,-94.7513,1787 US Hwy 259 S,Neighborhood Market,NaT,2016-01-28

In [14]:
df[df.Opening_date==np.nan]

Empty DataFrame
Columns: [Store_id, State, County_name, County_fips, Town, Town_lat, Town_lng, Street, Category, Opening_date, Closing_date]
Index: []

In [10]:
df.loc[np.vectorize(str)(df.Opening_date)=='NaN']

Empty DataFrame
Columns: [Store_id, State, County_name, County_fips, Town, Town_lat, Town_lng, Street, Category, Opening_date, Closing_date]
Index: []

In [8]:
df[np.vectorize(str)(df.Opening_date)=='NaN']

Empty DataFrame
Columns: [Store_id, State, County_name, County_fips, Town, Town_lat, Town_lng, Street, Category, Opening_date, Closing_date]
Index: []

In [28]:
df[(df.State=='MS')&(df.Category=='Walmart')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2315,176,MS,Ripley,822 City Ave. S,Walmart,1977-07-01,NaT
2287,274,MS,Iuka,1110 Battleground Dr.,Walmart,1979-08-21,NaT
2285,411,MS,Houston,660 E Madison St.,Walmart,1982-08-03,NaT

In [ ]:
df[df.State=='MS']

In [67]:
df[(df.State=='MS')&(df.Closing_date.dt.year>=2016)]

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date]
Index: []

In [68]:
df[(df.State=='MS')&(df.Opening_date.dt.year>=2016)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2253,4586,MS,Biloxi,1820-A Popps Ferry Rd.,Neighborhood Market,2016-06-01,NaT
2258,6469,MS,Byram,131 Handley Boulevard,Walmart Supercenter,2016-01-27,NaT
2275,6165,MS,Gulfport,1733 East Pass Rd.,Neighborhood Market,2016-01-13,NaT
2284,6964,MS,Horn Lake,4150 Goodman Road West,Walmart Supercenter,2016-01-27,NaT
2296,3990,MS,Meridian,3310-A Highway 39 North,Neighborhood Market,2017-04-12,NaT
2302,5776,MS,Ocean Springs,6412 Washington Avenue,Neighborhood Market,2016-11-02,NaT
2318,5459,MS,Starkville,105 Market Street,Neighborhood Market,2018-01-17,NaT
2320,4619,MS,Tupelo,316 S Gloster Street,Neighborhood Market,2016-08-03,NaT
2328,3060,MS,Yazoo City,2129 Grand Avenue,Walmart Supercenter,2017-03-15,NaT

In [49]:
df[df.State=='MS'].groupby('Town')['Town'].count()

Town
Amory         1
Batesville    1
Belmont       1
Biloxi        3
Booneville    1
             ..
Waveland      1
Waynesboro    1
West Point    1
Wiggins       1
Yazoo City    1
Name: Town, Length: 71, dtype: int64

In [33]:
df[df.Store_id=='1025']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2295,1025,MS,McComb,1608 Veterans Blvd.,Walmart Supercenter,1987-04-28,NaT

In [30]:
pd.set_option('display.max_rows', None)

In [67]:
import pandas as pd

df = pd.read_csv('walmart_opening_1962_2006.csv')
df['year'] = df['opendate'].str[:4]
df.head(10)

,opendate,st.address,city,state,long,lat,type,year
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter,1962
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter,1962
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter,1964
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter,1965
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore,1967
5,1967-10-01,1621 NORTH BUSINESS 9,Morrilton,AR,-92.758580,35.156491,SuperCenter,1967
6,1968-03-01,1303 SOUTH MAIN,Sikeston,MO,-89.583550,36.891163,SuperCenter,1968
7,1968-03-01,65 WAL-MART DRIVE,Mountain Home,AR,-92.357810,36.329026,SuperCenter,1968
8,1968-07-01,2020 SOUTH MUSKOGEE,Tahlequah,OK,-94.971850,35.923658,SuperCenter,1968
9,1968-07-01,1500 LYNN RIGGS BLVD,Claremore,OK,-95.611920,36.327143,SuperCenter,1968

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(30,5))
plt.bar(df.year.value_counts().sort_index().index, df.year.value_counts().sort_index().values)
plt.title("Openings of Walmart throug time")

In [49]:
df.State.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
import datetime
date = datetime.date(2456,1, 23)
type(date)

datetime.date

In [69]:
df.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [95]:
date = datetime.date(2001,0,0)

ValueError: month must be in 1..12

In [108]:
len(df[df.Opening_date=='unknown'])

85

In [57]:

import pandas as pd
df = pd.read_csv('fandom_traitées.csv')


for index, row in df.iterrows():
    print(type(row['Opening_date']))
    break
    if type(row['Opening_date'])!=datetime:
        print(row['Opening_date'])

<class 'str'>

In [47]:
df3[(df3.state=="IL") & (df3.type=="DistributionCenter")].head(20)

,opendate,st.address,city,state,long,lat,type
2319,1997-03-01,3801 E US Hwy 50,Olney,IL,-88.131304,38.712131,DistributionCenter
2667,2001-03-01,3110 Illinois Hwy 89,Spring Valley,IL,-89.221430,41.352201,DistributionCenter

In [52]:
df_MO[df_MO.Opening_date.dt.year==2001]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
1428,2817,IL,Lansing,17625 Torrence Ave.,Walmart Supercenter,2001-01-24,NaT
1483,3255,IL,Savoy,505 S Dunlap Ave.,Walmart Supercenter,2001-08-15,NaT
1490,3210,IL,Springfield,2760 N Dirksen Pkwy,Walmart Supercenter,2001-10-24,NaT

In [ ]:
f="""Acworth (2)
Adel
Albany (4)
Alpharetta (2)
Americus
Athens (3)
Atlanta (5)
Augusta (4)
Austell
Bainbridge
Baxley
Blairsville
Blue Ridge
Bremen
Brunswick (2)
Buford (2)
Cairo
Calhoun
Camilla
Canton
Carrollton
Cartersville
Cedartown
Chamblee
Clayton
Cleveland
Cochran
College Park
Columbus (7)
Commerce
Conyers
Cordele
Cornelia
Covington (2)
Cumming (3)
Dahlonega
Dallas
Dalton (3)
Dawsonville
Decatur (2)
Douglas
Douglasville
Dublin
Duluth
Dunwoody (2)
East Ellijay
East Point
Eastman
Eatonton
Elberton
Ellenwood
Evans
Fayetteville
Fitzgerald
Forsyth
Fort Oglethorpe (2)
Gainesville (3)
Griffin
Grovetown (2)
Hartwell
Hazlehurst
Hephzibah
Hinesville (3)
Hiram
Holly Springs
Jasper
Jesup
La Fayette
Lagrange (2)
Lawrenceville (3)
Lilburn
Lithia Springs
Lithonia (2)
Locust Grove
Loganville
Lovejoy
Macon (3)
Madison
Marietta (7)
Martinez
Mcdonough
Milledgeville
Monroe
Morrow
Moultrie
Newnan
Norcross
Oakwood
Peachtree City
Perry
Pooler
Rincon
Riverdale
Rockmart
Rome (2)
Roswell
Saint Marys
Sandersville
Savannah (6)
Snellville (3)
Statesboro (2)
Stockbridge (2)
Stone Mountain (2)
Suwanee
Swainsboro
Sylvester
Thomaston
Thomasville
Thomson
Tifton (2)
Toccoa
Trion
Tucker (2)
Union City
Valdosta (3)
Vidalia
Villa Rica
Warner Robins (4)
Waycross (2)
Waynesboro
Winder
Woodstock (2)
"""
for city in f.split('\n'):
    if city not in df[df.State == 'GA'].Town.unique():
        print(city)

In [109]:
df[df.Town=='McDonough']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
1250,3201,GA,McDonough,135 Willow Ln.,Walmart Supercenter,2001-03-14,NaT

In [16]:
df.Category.unique()

array(['Walmart Supercenter', 'Neighborhood Market', 'Walmart',
       'Clinic Pharmacy', 'Convenience with Fuel', 'Walmart Pickup',
       'Walmart Express'], dtype=object)

In [ ]:
import pandas as pd
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])

df[(df.Closing_date.dt.year == 2016)&(df.Closing_date.dt.month == 1)].count()

In [ ]:
import pandas as pd
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])

df[(df.Closing_date>='2015-01-31') & (df.Closing_date<'2016-01-31')].count()

In [98]:
pd.set_option('display.max_rows', None)

In [ ]:
pd.set_option('display.max_rows', None)
c=0
coucou = df[df.State=='GA'].groupby('Town').count()
coucou[coucou.Store_id!=1]

In [78]:
df[df.Town=='Asheville']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2805,1317,NC,Asheville,125 Bleachery Blvd.,Walmart Supercenter,1990-10-01,NaT
2806,4428,NC,Asheville,1636 Hendersonville Rd.,Walmart Supercenter,2010-08-18,NaT

In [ ]:
for town in df[df.State=='NC'].Town.unique():
    if town not in f.split('\n'):
        print(town)

In [70]:
df[df.Town=='Yaphank']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2797,8331,NY,Yaphank,901 Boulevard East,Walmart Supercenter,2021-11-03,NaT

In [ ]:
df[df.State=='TN'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

In [3]:
us_state_to_abbrev = {
    "Alabama": "AL","Alaska": "AK","Arizona": "AZ","Arkansas": "AR","California": "CA","Colorado": "CO","Connecticut": "CT","Delaware": "DE","Florida": "FL","Georgia": "GA","Hawaii": "HI","Idaho": "ID","Illinois": "IL","Indiana": "IN","Iowa": "IA","Kansas": "KS","Kentucky": "KY","Louisiana": "LA","Maine": "ME","Maryland": "MD","Massachusetts": "MA","Michigan": "MI","Minnesota": "MN","Mississippi": "MS","Missouri": "MO","Montana": "MT","Nebraska": "NE","Nevada": "NV","New-Hampshire": "NH","New-Jersey": "NJ","New-Mexico": "NM","New-York": "NY","North-Carolina": "NC","North-Dakota": "ND","Ohio": "OH","Oklahoma": "OK","Oregon": "OR","Pennsylvania": "PA","Rhode-Island": "RI","South-Carolina": "SC","South-Dakota": "SD","Tennessee": "TN","Texas": "TX","Utah": "UT","Vermont": "VT","Virginia": "VA","Washington": "WA","West-Virginia": "WV","Wisconsin": "WI","Wyoming": "WY","Washington-D.C.": "DC","American Samoa": "AS","Guam": "GU","Northern Mariana Islands": "MP","Puerto Rico": "PR","United States Minor Outlying Islands": "UM","U.S. Virgin Islands": "VI",
}

with open('test2.txt') as f:
    content = f.read()


data = []
for line in content.split('\n'):
    splitted_line = line.split(' ')
    data_line = [us_state_to_abbrev[splitted_line[0]]]
    data_line += [splitted_line[i] for i in range(1, len(splitted_line))]
    data.append(data_line)

df15 = pd.DataFrame(data,columns=['State_name', 'WS15', 'W15', 'NH15', 'C15', 'T15']).set_index('State_name')
df15.head()

           WS15 W15 NH15 C15  T15
State_name
AL           99   1   24  14  138
AK            8   2    0   3   13
AZ           79   3   26  16  124
AR           75   8   38   7  128
CA          117  92   64  33  306

In [4]:
with open('test.txt') as f:
    content = f.read()


data = []
for line in content.split('\n'):
    splitted_line = line.split(' ')
    data_line = [us_state_to_abbrev[splitted_line[0]]]
    data_line += [splitted_line[i] for i in range(1, len(splitted_line))]
    data.append(data_line)

df16 = pd.DataFrame(data,columns=['State_name', 'WS16', 'W16', 'NH16', 'C16', 'T16']).set_index('State_name')
df16.head()

           WS16 W16 NH16 C16  T16
State_name
AL          100   1   25  14  140
AK            8   2    0   3   13
AZ           80   3   28  16  127
AR           76   7   33   7  123
CA          127  83   67  33  310

In [5]:
with open('test3.txt') as f:
    content = f.read()


data = []
for line in content.split('\n'):
    splitted_line = line.split(' ')
    data_line = [us_state_to_abbrev[splitted_line[0]]]
    data_line += [splitted_line[i] for i in range(1, len(splitted_line))]
    data.append(data_line)

df17 = pd.DataFrame(data,columns=['State_name', 'WS17', 'W17', 'NH17', 'C17', 'T17']).set_index('State_name')
df17.head()

           WS17 W17 NH17 C17  T17
State_name
AL          101   1   30  14  146
AK            7   2    0   3   12
AZ           82   2   28  16  128
AR           76   7   38   8  129
CA          135  78   68  33  314

In [6]:
df1516 = df15.join(df16, on='State_name').astype(int)[['WS15', 'W15', 'NH15', 'WS16', 'W16', 'NH16']]
df1516 = df1516.join(df17, on='State_name').astype(int)[['WS15', 'W15', 'NH15', 'WS16', 'W16', 'NH16', 'WS17', 'W17', 'NH17']]
#df1516['WS'] = df1516['Walmart Supercenters16'].astype(float) - df1516['Walmart Supercenters15'].astype(float)
#df1516['W'] = df1516['Walmart16'].astype(float) - df1516['Walmart15'].astype(float)
#df1516['NH'] = df1516['Neighborhood Market16'].astype(float) - df1516['Neighborhood Market15'].astype(float)
#df_diff = df1516[['WS', 'W', 'NH']]
#df_diff.head()
df1516

            WS15  W15  NH15  WS16  W16  NH16  WS17  W17  NH17
State_name
AL            99    1    24   100    1    25   101    1    30
AK             8    2     0     8    2     0     7    2     0
AZ            79    3    26    80    3    28    82    2    28
AR            75    8    38    76    7    33    76    7    38
CA           117   92    64   127   83    67   135   78    68
CO            67    5    18    69    5    18    69    5    20
CT            12   22     2    12   22     1    12   21     1
DE             6    3     0     6    3     0     6    3     0
FL           216   13    65   221   12    75   229    9    88
GA           150    3    29   151    3    36   153    2    37
HI             0   10     0     0   10     0     0   10     0
ID            22    1     2    23    0     2    23    0     3
IL           133   23     8   134   22     7   139   17     6
IN            92    9     9    95    8    11    96    8    11
IA            57    3     0    57    3     0    57    3     0
KS            57    4    18    57    3    15    58    2    15
KY            76    8     8    77    8     9    79    8    10
LA            87    2    23    88    2    29    88    2    32
ME            19    3     0    19    3     0    19    3     0
MD            26   21     0    28   19     0    29   18     0
MA            26   23     0    27   22     0    27   22     0
MI            89    5     0    89    4     0    89    4     0
MN            64    6     0    65    5     0    65    5     0
MS            62    4     9    64    4     5    64    4     8
MO           109   11    16   111   11    16   111    9    16
MT            13    0     0    13    0     0    13    0     0
NE            35    0     7    35    0     7    35    0     7
NV            30    2    11    29    2    11    29    2    11
NH            17   10     0    18    9     0    19    8     0
NJ            25   34     0    26   34     0    28   34     0
NM            35    2     6    35    2     7    35    2     9
NY            77   22     2    78   20     2    80   18     2
NC           138    6    43   140    6    43   142    6    46
ND            14    0     0    14    0     0    14    0     0
OH           139    7     0   138    7     0   138    7     0
OK            79    9    30    79    9    31    81    9    33
OR            28    7    10    28    7     9    28    7     9
PA           114   22     0   115   22     0   116   22     0
RI             5    4     0     5    4     0     5    4     0
SC            81    0    11    81    0    18    83    0    25
SD            14    0     0    14    0     0    15    0     0
TN           113    2    10   115    2    17   117    2    20
TX           363   24    91   372   22    88   379   20   102
UT            40    0    10    41    0    10    41    0    10
VT             1    4     0     1    4     0     3    3     0
VA           104    6    12   105    6    20   107    6    23
WA            51   10     5    52   10     5    52   10     5
DC             2    0     0     3    0     0     3    0     0
WV            38    0     1    38    0     1    38    0     1
WI            80    8     5    81    6     2    82    5     2
WY            11    0     0    12    0     0    12    0     0

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
#df_MO.loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()")
W15 = df[(df.Category=='Walmart')].loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
WS15 = df[(df.Category=='Walmart Supercenter')].loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
NH15 = df[(df.Category!='Walmart')&(df.Category!='Walmart Supercenter')].loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
data = [WS15 - df1516.WS15, W15 - df1516.W15, NH15 - df1516.NH15]
comparison = pd.DataFrame(data)
comparison

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,GA,HI,IA,ID,IL,IN,KS,KY,LA,MA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0.0,0.0,1.0,0.0,19.0,0.0,0.0,0.0,0.0,4.0,1.0,NaN,1.0,1.0,5.0,2.0,1.0,-1.0,0.0,1.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,2.0,4.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0
1,0.0,0.0,-1.0,-1.0,-17.0,0.0,0.0,NaN,0.0,-4.0,-1.0,0.0,-1.0,NaN,-5.0,-2.0,-2.0,1.0,0.0,-1.0,-3.0,0.0,-1.0,-1.0,0.0,0.0,NaN,1.0,NaN,NaN,-2.0,-4.0,0.0,0.0,-5.0,-1.0,0.0,0.0,-1.0,0.0,NaN,NaN,0.0,-3.0,NaN,-1.0,-1.0,0.0,-3.0,NaN,NaN
2,NaN,0.0,0.0,0.0,1.0,-1.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN,0.0,-2.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,NaN,-1.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,1.0,NaN,0.0,NaN,1.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,NaN

In [9]:
W16 = df[(df.Category=='Walmart')].loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
WS16 = df[(df.Category=='Walmart Supercenter')].loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
NH16 = df[(df.Category!='Walmart')&(df.Category!='Walmart Supercenter')].loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
data = [WS16 - df1516.WS16, W16 - df1516.W16, NH16 - df1516.NH16]
comparison = pd.DataFrame(data)
comparison

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,GA,HI,IA,ID,IL,IN,KS,KY,LA,MA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,3.0,1.0,NaN,1.0,0.0,4.0,1.0,1.0,-1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,1.0,4.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0
1,0.0,0.0,0.0,-1.0,-12.0,0.0,0.0,NaN,0.0,-3.0,-1.0,0.0,-1.0,NaN,-4.0,-1.0,-1.0,1.0,0.0,0.0,-2.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,NaN,NaN,-1.0,-4.0,0.0,0.0,-3.0,-1.0,0.0,0.0,-1.0,0.0,NaN,NaN,0.0,-1.0,NaN,-1.0,-1.0,0.0,-2.0,NaN,NaN
2,NaN,0.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1.0,-1.0,NaN,NaN,0.0,-2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,-1.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,1.0,NaN,0.0,NaN,1.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN

In [10]:
W17 = df[(df.Category=='Walmart')].loc[(df.Opening_date <= '2017-01-31') & ((df.Closing_date>='2017-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
WS17 = df[(df.Category=='Walmart Supercenter')].loc[(df.Opening_date <= '2017-01-31') & ((df.Closing_date>='2017-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
NH17 = df[(df.Category!='Walmart')&(df.Category!='Walmart Supercenter')].loc[(df.Opening_date <= '2017-01-31') & ((df.Closing_date>='2017-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
data = [WS17 - df1516.WS17, W17 - df1516.W17, NH17 - df1516.NH17]
comparison = pd.DataFrame(data)
comparison

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,GA,HI,IA,ID,IL,IN,KS,KY,LA,MA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0.0,0.0,0.0,-1.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,1.0,0.0,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,-7.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,-1.0,NaN,0.0,-1.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,NaN,NaN,0.0,-4.0,0.0,0.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,NaN,NaN,0.0,0.0,NaN,-1.0,0.0,0.0,-1.0,NaN,NaN
2,NaN,0.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN,0.0,-1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,-1.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,1.0,NaN,0.0,NaN,0.0,3.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN

In [ ]:
df[np.vectorize(str)(df.Opening_date)=='NaT'].sort_values(['State', 'Category'])

,Store_id,State,County_name,County_fips,Town,Town_lat,Town_lng,Street,Category,Opening_date,Closing_date
4717,2011,AL,Houston,1069,Ashford,31.1858,-85.2359,18 Apple Way,Neighborhood Market,NaT,2016-01-28
4719,2235,AL,Madison,1089,Gurley,34.7072,-86.3768,6361 Hwy 72,Neighborhood Market,NaT,2016-01-28
4720,3769,AL,Marshall,1095,Grant,34.5190,-86.2492,3530 Cathedral Caverns Hwy,Neighborhood Market,NaT,2016-01-28
4721,2173,AL,Henry,1067,Headland,31.3501,-85.3523,14331 CR-99,Neighborhood Market,NaT,2016-01-28
4722,3779,AL,Madison,1089,New Hope,34.5370,-86.4128,10188 Hwy 431 South,Neighborhood Market,NaT,2016-01-28
4723,2165,AL,Geneva,1061,Slocomb,31.1103,-85.5954,952 E Lawrence Harris Hwy,Neighborhood Market,NaT,2016-01-28
4724,2260,AL,Blount,1009,Snead,34.1162,-86.3902,87395 US Hwy 278,Neighborhood Market,NaT,2016-01-28
325,5666,AR,Pulaski,5119,Little Rock,34.7256,-92.3577,2510 Cantrell Rd,Neighborhood Market,NaT,2022-01-01
374,3819,AR,Crawford,5033,Van Buren,35.4483,-94.3528,8848 N Hwy 59,Neighborhood Market,NaT,2016-01-17
4726,2601,AR,Franklin,5047,Charleston,35.2948,-94.0484,814 W Main,Neighborhood Market,NaT,2016-01-17
4727,2669,AR,Johnson,5071,Coal Hill,35.4375,-93.6647,1531 E Hwy 64,Neighborhood Market,NaT,2016-01-17
4729,3878,AR,Van Buren,5141,Damascus,35.3671,-92.4108,5 Hwy 124 W,Neighborhood Market,NaT,2016-01-17
4730,4217,AR,Benton,5007,Decatur,36.3402,-94.4578,154 E Roller,Neighborhood Market,NaT,2016-01-17
4732,3032,AR,Benton,5007,Gentry,36.2571,-94.4908,905 S Gentry Blvd,Neighborhood Market,NaT,2016-01-17
4733,3033,AR,Benton,5007,Gravette,36.4291,-94.3712,800 1st Ave SE,Neighborhood Market,NaT,2016-01-17
4734,2498,AR,Scott,5127,Mansfield,35.0635,-94.2373,720 N Hwy 71,Neighborhood Market,NaT,2016-01-17
4736,2578,AR,Crawford,5033,Mulberry,35.5100,-94.0740,3500 Mulberry Hwy 64 W,Neighborhood Market,NaT,2016-01-17
4737,3034,AR,Washington,5143,Prairie Grove,35.9858,-94.3049,881 W Buchanan,Neighborhood Market,NaT,2016-01-17
4746,2896,CT,New Haven,9009,Derby,41.3265,-73.0833,656 Derby Ave,Walmart,NaT,2016-07-31
4750,4267,FL,Dixie,12029,Cross City,29.6386,-83.1248,15726 SE Hwy 19,Neighborhood Market,NaT,2016-01-28
4751,3358,FL,Putnam,12107,Interlachen,29.6203,-81.8963,1113 SR-20,Neighborhood Market,NaT,2016-01-28
4752,4265,FL,Gilchrist,12041,Trenton,29.6092,-82.8147,1209 E Wade St,Neighborhood Market,NaT,2016-01-28
4753,4229,GA,Bacon,13005,Alma,31.5432,-82.4745,1041 S US Hwy 1,Neighborhood Market,NaT,2016-01-28
4754,4234,GA,Turner,13287,Ashburn,31.7096,-83.6528,155 W Washington Ave,Neighborhood Market,NaT,2016-01-28
4755,4254,GA,Seminole,13253,Donalsonville,31.0404,-84.8792,907 Marianna Hwy,Neighborhood Market,NaT,2016-01-28
4756,4228,GA,Schley,13249,Ellaville,32.2380,-84.3089,560 Broad St,Neighborhood Market,NaT,2016-01-28
4757,4263,GA,Lanier,13173,Lakeland,31.0409,-83.0748,142 S Valdosta Rd,Neighborhood Market,NaT,2016-01-28
4758,4261,GA,Atkinson,13003,Pearson,31.2970,-82.8544,290 Albany Ave W,Neighborhood Market,NaT,2016-01-28
4759,4251,GA,Mitchell,13205,Pelham,31.1267,-84.1515,398 Barrow Ave SW,Neighborhood Market,NaT,2016-01-28
1414,3065,IL,Cook,17031,Chicago,41.8375,-87.6866,3636 N Broadway St,Neighborhood Market,NaT,2016-01-17
1415,3039,IL,Cook,17031,Chicago,41.8375,-87.6866,225 W Chicago Ave,Neighborhood Market,NaT,2016-01-17
1383,1818,IL,Kane,17089,Aurora,41.7638,-88.2902,2131 Galena Blvd,Walmart,NaT,2016-10-28
1600,5406,IN,Marion,18097,Indianapolis,39.7771,-86.1458,8010 E. 38th St.,Neighborhood Market,NaT,2019-07-12
4764,4353,KS,Coffey,20031,Burlington,38.1931,-95.7452,505 Housatonic St,Neighborhood Market,NaT,2016-01-28
4765,3369,KS,Sedgwick,20173,Clearwater,37.5096,-97.4975,900 E Ross Ave,Neighborhood Market,NaT,2016-01-28
4766,4360,KS,Cherokee,20021,Columbus,37.1716,-94.8440,705 N High School Ave,Neighborhood Market,NaT,2016-01-28
4767,4361,KS,Ellsworth,20053,Ellsworth,38.7327,-98.2285,1105 E 15th St,Neighborhood Market,NaT,2016-01-28
4768,4651,KS,Marion,20115,Hillsboro,38.3527,-97.1992,605 Orchard Dr,Neighborhood Market,NaT,2016-01-28
4769,4362,KS,Butler,20015,Rose Hill,37.5702,-97.1361,120 W Rosewood St,Neighborhood Market,NaT,2016-01-28
4770,3839,LA,East Feliciana,22037,Clinton,30.8613,-91.0150,9181 Hwy 67,Neighborhood Market,NaT,2016-01-28
4771,4634,LA,Grant,22043,Colfax,31.5208,-92.7001,1506 Main St,Neighborhood Market,NaT,2016-01-28
4773,4647,LA,Tangipahoa,22105,Independence,30.6361,-90.5056,515 3rd St,Neighborhood Market,NaT,2016-01-28
4774,3815,LA,Calcasieu,22019,Iowa,30.2393,-93.0130,501 W Hwy 90,Neighborhood Market,NaT,2016-01-28
4775,3849,LA,Tangipahoa,22105,Kentwood,30.9339,-90.5153,920 Avenue G,Neighborhood Market,NaT,2016-01-28
4776,3753,LA,Jefferson Davis,22053,Lake Arthur,30.0795,-92.6773,620 N Hwy 26,Neighborhood Market,NaT,2016-01-28
4777,3755,LA,Evangeline,22039,Mamou,30.6349,-92.4179,1445 Old Hwy 13,Neighborhood Market,NaT,2016-01-28
4778,3879,LA,Sabine,22085,Zwolle,31.6398,-93.6412,1495 Obrie St,Neighborhood Market,NaT,2016-01-28
4792,4269,MO,McDonald,29119,Anderson,36.6532,-94.4441,224 E Hwy 76,Neighborhood Market,NaT,2016-01-28
4794,4289,MO,Christian,29043,Clever,37.0333,-93.4729,414 N Elm,Neighborhood Market,NaT,2016-01-28
4795,4270,MO,McDonald,29119,Noel,36.5432,-94.4888,508 N Cliffside Dr,Neighborhood Market,NaT,2016-01-28
4797,4282,MO,Barry,29009,Seligman,36.5231,-93.9387,33597 State Hwy 112,Neighborhood Market,NaT,2016-01-28
4785,3856,MS,Tishomingo,28141,Belmont,34.5046,-88.2080,410 2nd St,Neighborhood Market,NaT,2016-01-28
4786,4294,MS,Calhoun,28013,Derma,33.8589,-89.2878,519 W Veterans Ave,Neighborhood Market,NaT,2016-01-28
4787,3863,MS,Itawamba,28057,Mantachie,34.3251,-88.4961,2795 Hwy 371 N,Neighborhood Market,NaT,2016-01-28
4788,4296,MS,Monroe,28095,Nettleton,34.0852,-88.6248,7104 Will Robbins Hwy,Neighborhood Market,NaT,2016-01-28
4789,3865,MS,Panola,28107,Sardis,34.4355,-89.9114,420 E Lee St,Neighborhood Market,NaT,2016-01-28
4790,3866,MS,Tippah,28139,Walnut,34.9497,-88.9236,28191 Hwy 15,Neighborhood Market,NaT,2016-01-28
4803,3080,NC,Pitt,37147,Ayden,35.4693,-77.4167,182 NC 102 W,Neighborhood Market,NaT,2016-01-28
4804,5138,NC,Johnston,37101,Benson,35.3860,-78.5437,702 S Wall St,Neighborhood Market,NaT,2016-01-28
4805,3257,NC,Lee,37105,Broadway,35.4579,-79.0547,112 N Main St,Neighborhood Market,NaT,2016-01-28
4806,2500,NC,Moore,37125,Carthage,35.3224,-79.4114,945 Monroe St,Neighborhood Market,NaT,2016-01-28
4807,3249,NC,Harnett,37085,Coats,35.4070,-78.6684,511 N McKinley St,Neighborhood Market,NaT,2016-01-28
4808,5024,NC,Johnston,37101,Four Oaks,35.4449,-78.4159,6043 US Hwy 301 S,Neighborhood Market,NaT,2016-01-28
4809,6997,NC,Randolph,37151,Liberty,35.8555,-79.5682,632 W Swannanoa Ave,Neighborhood Market,NaT,2016-01-28
4810,3121,NC,Davidson,37057,Midway,35.9751,-80.2204,189 Hickory Tree Rd,Neighborhood Market,NaT,2016-01-28
4811,7207,NC,Pamlico,37137,Oriental,35.0357,-76.6816,1400 N Broad St,Neighborhood Market,NaT,2016-01-28
4812,2573,NC,Wayne,37191,Pikeville,35.4972,-77.9877,303 S Goldsboro St,Neighborhood Market,NaT,2016-01-28
4813,3211,NC,Johnston,37101,Princeton,35.4671,-78.1613,509 Dr. Donnie H. Jones Blvd W,Neighborhood Market,NaT,2016-01-28
4814,5015,NC,Robeson,37155,Red Springs,34.8046,-79.1822,908 E 4th Ave,Neighborhood Market,NaT,2016-01-28
4815,3007,NC,Stanly,37167,Richfield,35.4716,-80.2586,139 N Hwy 49,Neighborhood Market,NaT,2016-01-17
4816,3037,NC,Greene,37079,Snow Hill,35.4506,-77.6769,905 SE 2nd St,Neighborhood Market,NaT,2016-01-28
4817,5017,NC,Cumberland,37051,Stedman,35.0114,-78.6996,7670 Clinton Rd,Neighborhood Market,NaT,2016-01-28
4819,3036,NC,Caswell,37033,Yanceyville,36.4101,-79.3356,1593 NC Hwy 86 N,Neighborhood Market,NaT,2016-01-28
4820,4342,OH,Cuyahoga,39035,Bedford,41.3919,-81.5360,22209 Rockside Rd,Walmart Supercenter,NaT,2016-01-28
4837,2606,SC,Fairfield,45039,Winnsboro,34.3718,-81.0907,721 US Hwy 321 BYP S,Walmart Supercenter,NaT,2016-01-28
3651,3306,TN,Davidson,47037,Nashville,36.1715,-86.7842,1220 Gallatin Ave.,Neighborhood Market,NaT,2016-01-28
4838,2375,TN,Marshall,47117,Chapel Hill,35.6283,-86.6970,4718 Nashville Hwy,Neighborhood Market,NaT,2016-01-28
4839,4301,TN,Marshall,47117,Cornersville,35.3634,-86.8584,400 North Main St.,Neighborhood Market,NaT,2016-01-28
4840,4306,TN,Stewart,47161,Dover,36.4818,-87.8438,934 US-79,Neighborhood Market,NaT,2016-01-28
4841,2413,TN,Lawrence,47099,Loretto,35.0792,-87.4401,523 N Military St.,Neighborhood Market,NaT,2016-01-28
4842,2410,TX,Jones,48253,Anson,32.7550,-99.8963,122 Commercial Ave.,Neighborhood Market,NaT,2016-01-28
4844,4343,TX,Bowie,48037,De Kalb,33.5076,-94.6166,12522 Fm 1840,Neighborhood Market,NaT,2016-01-28
4845,4316,TX,Upshur,48459,Diana,32.7060,-94.7513,1787 US Hwy 259 S,Neighborhood Market,NaT,2016-01-28
4846,2363,TX,Van Zandt,48467,Edgewood,32.6943,-95.8833,504 W Pine St.,Neighborhood Market,NaT,2016-01-28
4849,4312,TX,Anderson,48001,Frankston,32.0561,-95.5043,440 E Pine St.,Neighborhood Market,NaT,2016-01-28
4850,3820,TX,Johnson,48251,Godley,32.4550,-97.5302,501 N Main,Neighborhood Market,NaT,2016-01-28
4851,3822,TX,Johnson,48251,Grandview,32.2685,-97.1775,416 N Third St.,Neighborhood Market,NaT,2016-01-28
4852,2779,TX,Haskell,48207,Haskell,33.1597,-99.7320,5 N 14th St.,Neighborhood Market,NaT,2016-01-28
4853,4327,TX,Cass,48067,Hughes Springs,32.9987,-94.6311,870 Taylor St.,Neighborhood Market,NaT,2016-01-28
4854,2345,TX,Ellis,48139,Italy,32.1857,-96.8867,721 Dale Evans Drive,Neighborhood Market,NaT,2016-01-28
4855,2346,TX,Kaufman,48257,Kemp,32.4351,-96.2240,221 S State Hwy 274,Neighborhood Market,NaT,2016-01-28
4857,3832,TX,Fannin,48147,Leonard,33.3829,-96.2467,420 S US 69,Neighborhood Market,NaT,2016-01-28
4858,4331,TX,Morris,48343,Lone Star,32.9392,-94.7090,914 North Main St.,Neighborhood Market,NaT,2016-01-28
4859,4345,TX,Bowie,48037,Maud,33.3299,-94.3461,114 Redwater Boulevard West,Neighborhood Market,NaT,2016-01-28
4860,2461,TX,Taylor,48441,Merkel,32.4698,-100.0111,1003 Telephone Cir.,Neighborhood Market,NaT,2016-01-28
4861,4338,TX,Morris,48343,Naples,33.2029,-94.6777,504 WL Doc Dodson,Neighborhood Market,NaT,2016-01-28
4862,3834,TX,Ellis,48139,Palmer,32.4258,-96.6724,428 N Dallas St.,Neighborhood Market,NaT,2016-01-28
4865,4320,TX,Harrison,48203,Waskom,32.4766,-94.0646,1005 Texas Avenue E,Neighborhood Market,NaT,2016-01-28
4866,2364,TX,Grayson,48181,Whitewright,33.5108,-96.3956,301 Hwy 69 S,Neighborhood Market,NaT,2016-01-28
4867,2863,TX,Runnels,48399,Winters,31.9564,-99.9292,1010 N Main St.,Neighborhood Market,NaT,2016-01-28
4848,926,TX,Brooks,48047,Falfurrias,27.2243,-98.1452,US-281 South,Walmart,NaT,2015-01-01
3814,5478,TX,Travis,48453,Austin,30.3005,-97.7522,8201 N FM 620,Walmart Supercenter,NaT,2016-01-28

In [102]:
#df_MO.loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()")
a = df[(df.Category=='Walmart Supercenter')].loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
a - df1516.WS15

AK     0.0
AL     0.0
AR     1.0
AZ     0.0
CA    19.0
CO     0.0
CT     0.0
DC     0.0
DE     0.0
FL     4.0
GA     1.0
HI     NaN
IA     1.0
ID     1.0
IL     5.0
IN     2.0
KS     1.0
KY    -1.0
LA     0.0
MA     1.0
MD     3.0
ME     0.0
MI     1.0
MN     1.0
MO     0.0
MS     0.0
MT     0.0
NC    -1.0
ND     0.0
NE     0.0
NH     2.0
NJ     4.0
NM     0.0
NV     0.0
NY     4.0
OH     0.0
OK     0.0
OR     0.0
PA     0.0
RI     0.0
SC    -1.0
SD     0.0
TN     0.0
TX     1.0
UT     0.0
VA     1.0
VT     1.0
WA     0.0
WI     3.0
WV    -1.0
WY     0.0
dtype: float64

In [101]:
#df_MO.loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()")
a = df[(df.Category=='Walmart')&(df.Category!='Walmart Supercenter')].loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby(['State'])['Category'].count()
a - df1516.W15

AK     0.0
AL     0.0
AR    -1.0
AZ    -1.0
CA   -17.0
CO     0.0
CT    -1.0
DC     NaN
DE     0.0
FL    -4.0
GA    -1.0
HI     0.0
IA    -1.0
ID     NaN
IL    -6.0
IN    -2.0
KS    -2.0
KY     1.0
LA     0.0
MA    -1.0
MD    -3.0
ME     0.0
MI    -1.0
MN    -1.0
MO     0.0
MS     0.0
MT     NaN
NC     1.0
ND     NaN
NE     NaN
NH    -2.0
NJ    -4.0
NM     0.0
NV     0.0
NY    -5.0
OH    -1.0
OK     0.0
OR     0.0
PA    -1.0
RI     0.0
SC     NaN
SD     NaN
TN     0.0
TX    -3.0
UT     NaN
VA    -1.0
VT    -1.0
WA     0.0
WI    -3.0
WV     NaN
WY     NaN
dtype: float64

In [4]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
for state in df.State.unique():
    df_MO = df[df.State == state]
    print(f"{state} -- 2015\n{df_MO.loc[(df.Opening_date <= '2015-01-31') & ((df.Closing_date>='2015-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()}")
    print(f"{state} -- 2016 {df_MO.loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count()}")

AL -- 2015
Category
Clinic Pharmacy         1
Neighborhood Market    16
Walmart                 1
Walmart Supercenter    99
Name: Category, dtype: int64
AL -- 2016 Category
Clinic Pharmacy          1
Neighborhood Market     24
Walmart                  1
Walmart Supercenter    100
Name: Category, dtype: int64
AK -- 2015
Category
Walmart                2
Walmart Supercenter    8
Name: Category, dtype: int64
AK -- 2016 Category
Walmart                2
Walmart Supercenter    8
Name: Category, dtype: int64
AZ -- 2015
Category
Neighborhood Market    26
Walmart                 2
Walmart Supercenter    79
Name: Category, dtype: int64
AZ -- 2016 Category
Neighborhood Market    28
Walmart                 2
Walmart Supercenter    80
Name: Category, dtype: int64
AR -- 2015
Category
Clinic Pharmacy         3
Neighborhood Market    24
Walmart                 7
Walmart Supercenter    76
Name: Category, dtype: int64
AR -- 2016 Category
Clinic Pharmacy         3
Neighborhood Market    29
Walmart                 7
Walmart Supercenter    76
Name: Category, dtype: int64
CA -- 2015
Category
Neighborhood Market     65
Walmart                 75
Walmart Supercenter    136
Name: Category, dtype: int64
CA -- 2016 Category
Neighborhood Market     67
Walmart                 71
Walmart Supercenter    141
Name: Category, dtype: int64
CO -- 2015
Category
Neighborhood Market    17
Walmart                 5
Walmart Supercenter    67
Name: Category, dtype: int64
CO -- 2016 Category
Neighborhood Market    17
Walmart                 5
Walmart Supercenter    69
Name: Category, dtype: int64
CT -- 2015
Category
Neighborhood Market     2
Walmart                21
Walmart Supercenter    12
Name: Category, dtype: int64
CT -- 2016 Category
Neighborhood Market     1
Walmart                21
Walmart Supercenter    12
Name: Category, dtype: int64
DE -- 2015
Category
Walmart                3
Walmart Supercenter    6
Name: Category, dtype: int64
DE -- 2016 Category
Walmart                3
Walmart Supercenter    6
Name: Category, dtype: int64
DC -- 2015
Category
Walmart Supercenter    2
Name: Category, dtype: int64
DC -- 2016 Category
Walmart Supercenter    3
Name: Category, dtype: int64
FL -- 2015
Category
Clinic Pharmacy          2
Neighborhood Market     64
Walmart                  9
Walmart Supercenter    220
Name: Category, dtype: int64
FL -- 2016 Category
Clinic Pharmacy          2
Neighborhood Market     74
Walmart                  9
Walmart Supercenter    224
Name: Category, dtype: int64
GA -- 2015
Category
Clinic Pharmacy          2
Neighborhood Market     19
Walmart                  2
Walmart Supercenter    151
Name: Category, dtype: int64
GA -- 2016 Category
Clinic Pharmacy          2
Neighborhood Market     32
Walmart                  2
Walmart Supercenter    152
Name: Category, dtype: int64
HI -- 2015
Category
Walmart    10
Name: Category, dtype: int64
HI -- 2016 Category
Walmart    10
Name: Category, dtype: int64
ID -- 2015
Category
Neighborhood Market     2
Walmart Supercenter    23
Name: Category, dtype: int64
ID -- 2016 Category
Neighborhood Market     2
Walmart Supercenter    23
Name: Category, dtype: int64
IL -- 2015
Category
Neighborhood Market      4
Walmart                 17
Walmart Supercenter    138
Name: Category, dtype: int64
IL -- 2016 Category
Neighborhood Market      5
Walmart                 17
Walmart Supercenter    138
Name: Category, dtype: int64
IN -- 2015
Category
Clinic Pharmacy         1
Neighborhood Market     7
Walmart                 7
Walmart Supercenter    94
Name: Category, dtype: int64
IN -- 2016 Category
Clinic Pharmacy         1
Neighborhood Market     9
Walmart                 7
Walmart Supercenter    96
Name: Category, dtype: int64
IA -- 2015
Category
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
IA -- 2016 Category
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KS -- 2015
Category
Neighborhood Market    15
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KS -- 2016 Category
Neighborhood Market    15
Walmart                 2
Walmart Supercenter    58
Name: Category, dtype: int64
KY -- 2015
Category
Clinic Pharmacy         1
Neighborhood Market     7
Walmart                 9
Walmart Supercenter    75
Name: Category, dtype: int64
KY -- 2016 Category
Clinic Pharmacy         1
Neighborhood Market     8
Walmart                 9
Walmart Supercenter    76
Name: Category, dtype: int64
LA -- 2015
Category
Neighborhood Market    19
Walmart                 2
Walmart Supercenter    87
Name: Category, dtype: int64
LA -- 2016 Category
Neighborhood Market    29
Walmart                 2
Walmart Supercenter    88
Name: Category, dtype: int64
ME -- 2015
Category
Walmart                 3
Walmart Supercenter    19
Name: Category, dtype: int64
ME -- 2016 Category
Walmart                 3
Walmart Supercenter    19
Name: Category, dtype: int64
MD -- 2015
Category
Walmart                18
Walmart Supercenter    29
Name: Category, dtype: int64
MD -- 2016 Category
Walmart                17
Walmart Supercenter    30
Name: Category, dtype: int64
MA -- 2015
Category
Walmart                22
Walmart Supercenter    27
Name: Category, dtype: int64
MA -- 2016 Category
Walmart                22
Walmart Supercenter    27
Name: Category, dtype: int64
MI -- 2015
Category
Walmart                 4
Walmart Supercenter    90
Name: Category, dtype: int64
MI -- 2016 Category
Walmart                 4
Walmart Supercenter    89
Name: Category, dtype: int64
MN -- 2015
Category
Walmart                 5
Walmart Supercenter    65
Name: Category, dtype: int64
MN -- 2016 Category
Walmart                 5
Walmart Supercenter    65
Name: Category, dtype: int64
MS -- 2015
Category
Neighborhood Market     3
Walmart                 4
Walmart Supercenter    62
Name: Category, dtype: int64
MS -- 2016 Category
Neighborhood Market     5
Walmart                 4
Walmart Supercenter    64
Name: Category, dtype: int64
MO -- 2015
Category
Neighborhood Market     11
Walmart                 11
Walmart Supercenter    109
Name: Category, dtype: int64
MO -- 2016 Category
Neighborhood Market     15
Walmart                 11
Walmart Supercenter    111
Name: Category, dtype: int64
MT -- 2015
Category
Walmart Supercenter    13
Name: Category, dtype: int64
MT -- 2016 Category
Walmart Supercenter    13
Name: Category, dtype: int64
NE -- 2015
Category
Neighborhood Market     7
Walmart Supercenter    35
Name: Category, dtype: int64
NE -- 2016 Category
Neighborhood Market     7
Walmart Supercenter    35
Name: Category, dtype: int64
NV -- 2015
Category
Neighborhood Market    11
Walmart                 2
Walmart Supercenter    30
Name: Category, dtype: int64
NV -- 2016 Category
Neighborhood Market    11
Walmart                 2
Walmart Supercenter    29
Name: Category, dtype: int64
NH -- 2015
Category
Walmart                 8
Walmart Supercenter    19
Name: Category, dtype: int64
NH -- 2016 Category
Walmart                 8
Walmart Supercenter    19
Name: Category, dtype: int64
NJ -- 2015
Category
Walmart                30
Walmart Supercenter    29
Name: Category, dtype: int64
NJ -- 2016 Category
Walmart                30
Walmart Supercenter    30
Name: Category, dtype: int64
NM -- 2015
Category
Neighborhood Market     6
Walmart                 2
Walmart Supercenter    35
Name: Category, dtype: int64
NM -- 2016 Category
Neighborhood Market     7
Walmart                 2
Walmart Supercenter    35
Name: Category, dtype: int64
NY -- 2015
Category
Neighborhood Market     2
Walmart                17
Walmart Supercenter    81
Name: Category, dtype: int64
NY -- 2016 Category
Neighborhood Market     2
Walmart                17
Walmart Supercenter    81
Name: Category, dtype: int64
NC -- 2015
Category
Neighborhood Market     26
Walmart                  7
Walmart Supercenter    137
Name: Category, dtype: int64
NC -- 2016 Category
Neighborhood Market     42
Walmart                  7
Walmart Supercenter    139
Name: Category, dtype: int64
ND -- 2015
Category
Walmart Supercenter    14
Name: Category, dtype: int64
ND -- 2016 Category
Walmart Supercenter    14
Name: Category, dtype: int64
OH -- 2015
Category
Walmart                  6
Walmart Supercenter    139
Name: Category, dtype: int64
OH -- 2016 Category
Walmart                  6
Walmart Supercenter    139
Name: Category, dtype: int64
OK -- 2015
Category
Neighborhood Market    31
Walmart                 9
Walmart Supercenter    79
Name: Category, dtype: int64
OK -- 2016 Category
Neighborhood Market    31
Walmart                 9
Walmart Supercenter    79
Name: Category, dtype: int64
OR -- 2015
Category
Neighborhood Market    10
Walmart                 7
Walmart Supercenter    28
Name: Category, dtype: int64
OR -- 2016 Category
Neighborhood Market     9
Walmart                 7
Walmart Supercenter    28
Name: Category, dtype: int64
PA -- 2015
Category
Neighborhood Market      1
Walmart                 21
Walmart Supercenter    114
Name: Category, dtype: int64
PA -- 2016 Category
Neighborhood Market      1
Walmart                 21
Walmart Supercenter    115
Name: Category, dtype: int64
RI -- 2015
Category
Walmart                4
Walmart Supercenter    5
Name: Category, dtype: int64
RI -- 2016 Category
Walmart                4
Walmart Supercenter    5
Name: Category, dtype: int64
SC -- 2015
Category
Neighborhood Market     9
Walmart Express         2
Walmart Supercenter    80
Name: Category, dtype: int64
SC -- 2016 Category
Neighborhood Market    18
Walmart Supercenter    81
Name: Category, dtype: int64
SD -- 2015
Category
Walmart Supercenter    14
Name: Category, dtype: int64
SD -- 2016 Category
Walmart Supercenter    14
Name: Category, dtype: int64
TN -- 2015
Category
Neighborhood Market      6
Walmart                  2
Walmart Supercenter    113
Name: Category, dtype: int64
TN -- 2016 Category
Neighborhood Market     18
Walmart                  2
Walmart Supercenter    115
Name: Category, dtype: int64
TX -- 2015
Category
Clinic Pharmacy          4
Neighborhood Market     70
Walmart                 21
Walmart Supercenter    364
Name: Category, dtype: int64
TX -- 2016 Category
Clinic Pharmacy          4
Neighborhood Market     85
Walmart                 21
Walmart Supercenter    373
Name: Category, dtype: int64
UT -- 2015
Category
Neighborhood Market    10
Walmart Supercenter    40
Name: Category, dtype: int64
UT -- 2016 Category
Neighborhood Market    10
Walmart Supercenter    41
Name: Category, dtype: int64
VT -- 2015
Category
Walmart                3
Walmart Supercenter    2
Name: Category, dtype: int64
VT -- 2016 Category
Walmart                3
Walmart Supercenter    2
Name: Category, dtype: int64
VA -- 2015
Category
Neighborhood Market     15
Walmart                  5
Walmart Supercenter    105
Name: Category, dtype: int64
VA -- 2016 Category
Neighborhood Market     20
Walmart                  5
Walmart Supercenter    106
Name: Category, dtype: int64
WA -- 2015
Category
Neighborhood Market     5
Walmart                10
Walmart Supercenter    51
Name: Category, dtype: int64
WA -- 2016 Category
Neighborhood Market     5
Walmart                10
Walmart Supercenter    52
Name: Category, dtype: int64
WV -- 2015
Category
Clinic Pharmacy         1
Walmart Supercenter    37
Name: Category, dtype: int64
WV -- 2016 Category
Clinic Pharmacy         1
Walmart Supercenter    38
Name: Category, dtype: int64
WI -- 2015
Category
Neighborhood Market     5
Walmart                 5
Walmart Supercenter    83
Name: Category, dtype: int64
WI -- 2016 Category
Neighborhood Market     2
Walmart                 4
Walmart Supercenter    83
Name: Category, dtype: int64
WY -- 2015
Category
Walmart Supercenter    11
Name: Category, dtype: int64
WY -- 2016 Category
Walmart Supercenter    12
Name: Category, dtype: int64

In [65]:
df[df.State=='CO'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_854/2819759545.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.State=='CO'][df.Category=='Neighborhood Market'].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4683,5002,CO,Littleton,8196 West Bowles Ave.,Neighborhood Market,1900-01-01,2016-01-17
4681,3021,CO,Denver,2253 S Monaco Pkwy.,Neighborhood Market,1900-01-01,2016-01-28
4680,3096,CO,Boulder,2972 Iris Avenue,Neighborhood Market,1900-01-01,2022-01-01
4679,3020,CO,Arvada,64 W Ave.,Neighborhood Market,2012-06-20,2017-07-07
682,3128,CO,Denver,1442 S Parker Rd.,Neighborhood Market,2012-06-20,NaT
666,3126,CO,Centennial,16746 E Smoky Hill Rd.,Neighborhood Market,2012-06-20,NaT
681,3127,CO,Denver,5141 Chambers Rd.,Neighborhood Market,2012-06-29,NaT
4682,3907,CO,Littleton,3615 West Bowles Ave.,Neighborhood Market,2012-06-29,2017-04-07
730,3019,CO,Thornton,850 E 88th Ave.,Neighborhood Market,2012-08-15,NaT
669,3083,CO,Colorado Springs,665 N Murray Blvd.,Neighborhood Market,2012-08-29,NaT
668,3082,CO,Colorado Springs,1622 S Academy Blvd.,Neighborhood Market,2013-01-16,NaT
671,3176,CO,Colorado Springs,1725 N Union Blvd.,Neighborhood Market,2013-08-12,NaT
670,3175,CO,Colorado Springs,4142 Austin Bluffs Pkwy.,Neighborhood Market,2013-11-06,NaT
653,4196,CO,Aurora,15240 E Iliff Avenue,Neighborhood Market,2013-11-06,NaT
719,4747,CO,Northglenn,10755 Washington Street,Neighborhood Market,2014-07-16,NaT
734,6177,CO,Westminster,7170 N Federal Blvd.,Neighborhood Market,2015-01-21,NaT
654,6178,CO,Aurora,10400 E Colfax Avenue,Neighborhood Market,2015-01-21,NaT
698,4491,CO,Grand Junction,541 Warrior Way,Neighborhood Market,2015-11-11,NaT
652,3740,CO,Aurora,21475 E Quincy Ave.,Neighborhood Market,2015-11-11,NaT
722,5828,CO,Pueblo,2730 S Prairie Ave.,Neighborhood Market,2016-03-16,NaT

In [9]:
import numpy as np

In [12]:
df_MO[np.vectorize(str)(df_MO.Closing_date)=='NaT']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3148,231,OK,Ada,1419 N Country Club Rd.,Walmart Supercenter,1978-09-19,NaT
3149,479,OK,Altus,2500 N Main St.,Walmart Supercenter,1982-09-21,NaT
3150,178,OK,Alva,914 E Oklahoma Blvd.,Walmart Supercenter,1977-11-01,NaT
3151,162,OK,Anadarko,1201 W Petree Rd.,Walmart Supercenter,1977-06-01,NaT
3152,129,OK,Ardmore,1715 N Commerce St.,Walmart Supercenter,1975-07-01,NaT
...,...,...,...,...,...,...,...
3264,2875,OK,Warr Acres,6437 N MacArthur Blvd.,Neighborhood Market,2000-01-12,NaT
3265,392,OK,Weatherford,1349 Eagle Rd.,Walmart Supercenter,1981-06-02,NaT
3266,150,OK,Woodward,3215 Williams Ave.,Walmart Supercenter,1976-10-01,NaT
3267,3637,OK,Yukon,1001 E Main Street,Neighborhood Market,2015-01-31,NaT
3268,221,OK,Yukon,1200 Garth Brooks Blvd.,Walmart Supercenter,1978-10-31,NaT

In [19]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
df_MO = df[df.State == 'CT']
print(df_MO.loc[(df.Opening_date <= '2016-01-31') & ((df.Closing_date>='2016-01-31') | (np.vectorize(str)(df.Closing_date)=='NaT'))].groupby('Category')['Category'].count())
#print(df_MO.loc[(df.Opening_date <= '2016-01-31') & (df.Closing_date>='2016-01-31')].groupby('Category')['Category'].count())
#df_MO[df_MO.Closing_date.notnull()]
#print(df_MO.loc[(df.Opening_date <= '2017-01-31') | (df.Closing_date>'2017-01-31')].groupby('Category')['Category'].count())
df_MO[df_MO.Category=='Neighborhood Market'].sort_values('Opening_date')

Category
Neighborhood Market     1
Walmart                21
Walmart Supercenter    12
Name: Category, dtype: int64

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
4677,2305,CT,Bristol,325 Oakland St,Neighborhood Market,2013-01-01,2017-01-01
4681,2303,CT,West Hartford,333 N Main St,Neighborhood Market,2013-01-01,2016-01-28

In [4]:
df.loc[(df.Closing_date>='2016-01-31') & (df.Closing_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AK    1
CT    1
IL    1
MO    2
TX    1
Name: Store_id, dtype: int64

In [103]:
df[(df.Opening_date.dt.month==1) & (df.Opening_date.dt.day==31) & (df.Opening_date.dt.year > 2015)]

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
345,241,AR,Rogers,4206 S Pleasant Crossing Blvd.,Convenience with Fuel,2017-01-31,NaT
995,6149,FL,Orlando,13801 Landstar and Arbor Meadows Blvd.,Neighborhood Market,2018-01-31,NaT
3557,377,SC,Sumter,343 Pinewood Rd.,Neighborhood Market,2018-01-31,NaT
3737,2466,TX,Arlington,4851 S Cooper Street,Convenience with Fuel,2019-01-31,NaT

In [98]:
df.loc[(df.Opening_date>='2016-01-31') & (df.Opening_date<='2017-01-31')].groupby('State')['Store_id'].count()

State
AL     5
AR     5
AZ     1
CA     4
CO     1
FL    18
GA     3
ID     1
IL     1
IN     1
KY     3
LA     3
MO     1
MS     3
NC     5
NJ     2
NM     2
OK     4
PA     1
SC     9
SD     1
TN     4
TX    21
VA     5
VT     1
Name: Store_id, dtype: int64

In [40]:
df[df.Category=='Walmart'][df.State=='TX'].sort_values('Opening_date')

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_684/2736168148.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Category=='Walmart'][df.State=='TX'].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3775,283,TX,Bridge City,795 Texas Ave.,Walmart,1980-02-26,NaT
4067,293,TX,Navasota,1712 E Washington Ave.,Walmart,1980-05-28,NaT
4040,320,TX,Marlin,600 S State Highway 6,Walmart,1980-10-14,NaT
3824,385,TX,Cuero,1202 E Broadway St.,Walmart,1981-07-28,NaT
4778,474,TX,Edna,1002 N Wells,Walmart,1982-11-02,2018-01-01
3916,473,TX,Giddings,2374 E Austin St.,Walmart,1983-04-05,NaT
4007,554,TX,Laredo,5610 San Bernardo Ave.,Walmart,1983-06-07,NaT
3806,503,TX,Columbus,2103 Milam St.,Walmart,1983-08-02,NaT
4086,478,TX,Pearsall,819 N Oak St.,Walmart,1984-03-06,NaT
3785,567,TX,Caldwell,475 State Highway 36 N,Walmart,1984-04-03,NaT
4035,446,TX,Madisonville,1620 E Main St.,Walmart,1984-04-03,NaT
4223,482,TX,West Columbia,301 N Columbia Dr.,Walmart,1984-07-17,NaT
4172,626,TX,Seminole,2000 Hobbs Hwy.,Walmart,1984-10-02,NaT
4087,898,TX,Pecos,1903 S Cedar St.,Walmart,1986-05-20,NaT
3932,951,TX,Hempstead,625 Highway 290 E,Walmart,1986-09-02,NaT
4782,1050,TX,Lamesa,2406 Lubbock Hwy,Walmart,1987-01-13,2016-01-17
3788,1046,TX,Carrizo Springs,2214 N 1st St.,Walmart,1987-05-12,NaT
3927,1067,TX,Hallettsville,1506 N Texana St.,Walmart,1987-06-30,NaT
3755,1078,TX,Ballinger,2005 Hutchins Ave.,Walmart,1987-06-30,NaT
4775,1092,TX,Brownfield,1405 Tahoka Rd,Walmart,1987-11-03,2017-01-31
3946,2718,TX,Houston,9555 S Post Oak Rd.,Walmart,1999-10-27,NaT
4779,926,TX,Falfurrias,US-281 South,Walmart,NaT,2015-01-01

In [110]:
df.groupby('Category')['Category'].count()

Category
Clinic Pharmacy            18
Convenience with Fuel       8
Neighborhood Marker         2
Neighborhood Market       770
Supercenter                 1
Walmart                   409
Walmart Express             1
Walmart Pickup              4
Walmart Supercenter      3576
Name: Category, dtype: int64

In [45]:
df['Closing_year'] = df.Closing_date.str[-4:]
df['Opening_year'] = df.Opening_date.str[-4:]
pd.set_option('display.max_rows', 10)
df[df.Closing_year == '2015'][df.Closing_month=='01'];

/var/folders/2x/jyk25dss11q4zcwpyjj6vtx40000gn/T/ipykernel_4144/3599529141.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.Closing_year == '2015'][df.Closing_month=='01']

Empty DataFrame
Columns: [Store_id, State, Town, Street, Category, Opening_date, Closing_date, Closing_year, Opening_year, Opening_month, Closing_month]
Index: []

In [ ]:
from difflib import SequenceMatcher

In [ ]:
for index, store in df[df.Closing_date == '2016'].iterrows():
    if store['Town'] in list(df2['Town']):
        for store2 in df[df.Town == store['Town']]:
            print(df[df.Town == store['Town']])
            if SequenceMatcher(None, store['Street'].capitalize(), store2['Street'].capitalize()).ratio() > 0.8:
                print('coucou')

In [21]:
df2[df2.Town == 'Dickson City']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [45]:
df2 = pd.read_csv('wallmart_exit2016_données_traitées.csv')
df2.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [73]:
df2[df2.Town == 'Aurora']

Empty DataFrame
Columns: [Store_id, Street, Town, State, Closing_date]
Index: []

In [ ]:
with open('wallmart_exit2016.txt') as f:
    content = f.read()
for number in df2['Unnamed: 1']:
    if str(number) in content:
        print(number)

In [ ]:
df[df.Town == "Pacolet"]

In [38]:
df3 = pd.read_csv('walmart_opening_1962_2006.csv')

In [52]:
df4.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [34]:
df4 = pd.read_csv('Walmarts.csv')
df5= pd.DataFrame(df4['Store Name'].str.split(',').to_list())
df5['State']=df5[3].str[1:3]
df5[2] = df5[2].str[1:]
df5.head()

,0,1,2,3,4,State
0,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR 72761 - Walmart.com,None,AR
1,Walmart Supercenter,1621 North Business 9,Morrilton,AR 72110 - Walmart.com,None,AR
2,Walmart Supercenter,1155 Hwy 65 North,Conway,AR 72032 - Walmart.com,None,AR
3,Walmart Supercenter,9053 Highway 107,Sherwood,AR 72120 - Walmart.com,None,AR
4,Walmart Supercenter,30983 Highway 441 S,Commerce,GA 30529 - Walmart.com,None,GA

In [35]:
df5[df5[2]=='Marietta']

,0,1,2,3,4,State
883,Walmart Supercenter,2795 Chastain Meadows Pkwy,Marietta,GA 30066 - Walmart.com,None,GA
1053,Walmart Supercenter,1785 Cobb Pkwy S,Marietta,GA 30060 - Walmart.com,None,GA
1625,Walmart Supercenter,3100 Johnson Ferry Rd,Marietta,GA 30062 - Walmart.com,None,GA
1923,Walmart Supercenter,804 Pike St,Marietta,OH 45750 - Walmart.com,None,OH
2693,Walmart Neighborhood Market,1167 Powder Springs St,Marietta,GA 30064 - Walmart.com,None,GA
2695,Walmart Neighborhood Market,3101 Roswell Road,Marietta,GA 30062 - Walmart.com,None,GA
2723,Walmart Neighborhood Market,3372 Canton Rd Ste 142,Marietta,GA 30066 - Walmart.com,None,GA
3072,Walmart Supercenter,6520 Earnest Barrett Parkway,Marietta,GA 30064 - Walmart.com,None,GA
3999,Walmart Supercenter,210 Cobb Pkwy S,Marietta,GA 30060 - Walmart.com,None,GA
4237,Walmart Neighborhood Market,2909 Austell Rd Sw Suite 100,Marietta,GA 30008 - Walmart.com,None,GA
4885,Sam's Club,150 Cobb Pkwy S,Marietta,GA 30060 - Walmart.com,None,GA

In [35]:
df_=pd.read_csv('walmart_opening_1962_2006.csv')

In [38]:
df_[(df_.state=='MS')&(df_.type=='Wal-MartStore')]

,opendate,st.address,city,state,long,lat,type
103,1975-04-01,200 WALMART CIRCLE,Booneville,MS,-88.53751,34.653448,Wal-MartStore
135,1976-09-01,1445 HWY 45 NORTH,West Point,MS,-88.64686,33.619058,Wal-MartStore
147,1977-02-01,350 WAL-MART CIRCLE,Pontotoc,MS,-89.00425,34.236312,Wal-MartStore
159,1977-07-01,822 CITY AVENUE SOUTH,Ripley,MS,-88.92629,34.739023,Wal-MartStore
224,1979-05-15,620 SOUTH APPLEGATE ST,Winona,MS,-89.73155,33.481491,Wal-MartStore
237,1979-08-21,1110 BATTLEGROUND DRIVE,Iuka,MS,-88.10205,34.803864,Wal-MartStore
401,1981-07-04,2302 HWY 82 WEST,Greenwood,MS,-90.17663,33.528734,Wal-MartStore
485,1982-08-03,660 EAST MADISON,Houston,MS,-88.96710,33.904246,Wal-MartStore
924,1986-09-30,110 MARKET PLACE,Hazlehurst,MS,-90.42995,31.841281,Wal-MartStore
1049,1987-10-01,921 HWY 35 SOUTH,Forest,MS,-89.46552,32.379693,Wal-MartStore
1087,1987-12-31,2381 PASS ROAD,Biloxi,MS,-88.96219,30.405831,Wal-MartStore
1231,1989-02-02,1524 HWY 19 NORTH,Meridian,MS,-88.74940,32.358891,Wal-MartStore

In [39]:
df[(df.State=='MS')&(df.Category=='Walmart')].sort_values('Opening_date')

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
2315,176,MS,Ripley,822 City Ave. S,Walmart,1977-07-01,NaT
2287,274,MS,Iuka,1110 Battleground Dr.,Walmart,1979-08-21,NaT
2285,411,MS,Houston,660 E Madison St.,Walmart,1982-08-03,NaT

In [36]:
df_.type.unique()

array(['DistributionCenter', 'SuperCenter', 'Wal-MartStore'], dtype=object)

ILLINOIS :
- McHenry
- Matteson
- East Dundee
- Spring Valley
- Glenwood

In [108]:
import pandas as pd
import numpy as np

fandom = pd.read_csv('fandom_traitées.csv')
df1 = pd.read_csv('wallmart_exit2016_données_traitées.csv')
df2 = pd.read_csv('walmart_opening_1962_2006.csv')
df3 = pd.read_csv('Walmarts.csv')

In [3]:
fandom.head()

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
0,1158,AL,Adamsville,2473 Hackworth Rd.,Walmart Supercenter,1988-03-01,NaN
1,4756,AL,Alabaster,9085 Hwy 119,Neighborhood Market,2015-09-30,NaN
2,423,AL,Alabaster,630 Colonial Promenade Pkwy,Walmart Supercenter,1981-12-01,NaN
3,726,AL,Alexander City,2643 Highway 280,Walmart Supercenter,1981-08-04,NaN
4,1091,AL,Andalusia,1991 M L King Jr Expy,Walmart Supercenter,1987-10-01,NaN

In [4]:
df1.head()

   Store_id                      Street         Town State Closing_date
0      2173          14331 Count Rd. 99     Headland    AL    1/28/2016
1      2011                18 Apple Way      Ashford    AL    1/28/2016
2      2165  952 E. Lawrence Harris Hwy      Slocomb    AL    1/28/2016
3      2186     407 West Washington St.    Abbeville    AL    1/28/2016
4      2235                 6361 Hwy 72  East Gurley    AL    1/28/2016

In [5]:
id_not_in_fandom = []
for id in df1.Store_id.unique():
    if str(id) not in fandom.Store_id.unique():
        print(id)
        id_not_in_fandom.append(id)
df1[np.isin(df1.Store_id, id_not_in_fandom)]

2349
2343
2347
2342
3667
3684
3689
3697
4903
6648
6665
6681

     Store_id                       Street        Town State Closing_date
83       2349          221 S State Hwy 274        Kemp    TX    1/28/2016
143      2343        7B Calle Munoz Rivera    Villalba    PR    1/28/2016
144      2347              Bo Salto Arriba      Utuado    PR    1/28/2016
145      2342      PR 14 Parque Industrial       Coamo    PR    1/28/2016
146      3667       1 Ave Monserrate STE 1    Carolina    PR    1/28/2016
147      3684           Carr 180 KM 0 HM 2     Salinas    PR    1/28/2016
148      3689  Centro Com Rio Grande State  Rio Grande    PR    1/28/2016
149      3697              Carr 165 KM 4.7    Toa Alta    PR    1/28/2016
150      4903             941 Grinnell St.  Fall River    MA    1/28/2016
151      6648         1110 Fall River Ave.     Seekonk    MA    1/28/2016
152      6665             495 Summit Drive   Waterford    MI    1/28/2016
153      6681                25 Pace Blvd.     Warwick    RI    1/28/2016

In [6]:
fandom[fandom.Town=='Warwick']

,Store_id,State,Town,Street,Category,Opening_date,Closing_date
3456,2373,RI,Warwick,840 Post Rd.,Walmart,1996-06-26,NaN
3457,2747,RI,Warwick,650 Bald Hill Rd.,Walmart,2002-01-23,NaN

In [7]:
df2.head()

,opendate,st.address,city,state,long,lat,type
0,1962-03-01,5801 SW Regional Airport Blvd,Bentonville,AR,-94.239816,36.350885,DistributionCenter
1,1962-07-01,2110 WEST WALNUT,Rogers,AR,-94.071410,36.342235,SuperCenter
2,1964-08-01,1417 HWY 62/65 N,Harrison,AR,-93.093450,36.236984,SuperCenter
3,1965-08-01,2901 HWY 412 EAST,Siloam Springs,AR,-94.502080,36.179905,SuperCenter
4,1967-10-01,3801 CAMP ROBINSON RD.,North Little Rock,AR,-92.302290,34.813269,Wal-MartStore

In [8]:
id_not_in_fandom = []
for id in df2.Store_id.unique():
    if str(id) not in fandom.Store_id.unique():
        print(id)
        id_not_in_fandom.append(id)
df1[np.isin(df2.Store_id, id_not_in_fandom)]

AttributeError: 'DataFrame' object has no attribute 'Store_id'

In [9]:
df3.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [109]:
df4 = pd.DataFrame(df3['Store Name'].str.split(',').to_list())
df4['State']=df4[3].str[1:3]
df4[2] = df4[2].str[1:]
df4['Store_id'] = df3['Store Number']
df4.head()

,0,1,2,3,4,State,Store_id
0,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR 72761 - Walmart.com,None,AR,4
1,Walmart Supercenter,1621 North Business 9,Morrilton,AR 72110 - Walmart.com,None,AR,8
2,Walmart Supercenter,1155 Hwy 65 North,Conway,AR 72032 - Walmart.com,None,AR,5
3,Walmart Supercenter,9053 Highway 107,Sherwood,AR 72120 - Walmart.com,None,AR,7
4,Walmart Supercenter,30983 Highway 441 S,Commerce,GA 30529 - Walmart.com,None,GA,3

In [110]:
df4[df4[2]=='Kimball']

,0,1,2,3,4,State,Store_id
971,Walmart Supercenter,525 Kimball Crossing Dr,Kimball,TN 37347 - Walmart.com,None,TN,1089

In [57]:
id_not_in_fandom = []
for id in df4[(df4.State != 'PR') & (df4[0] != "Sam's Club")].Store_id.unique():
    if str(id) not in fandom.Store_id.unique():
        print(id)
        id_not_in_fandom.append(id)
to_study = df4[np.isin(df4.Store_id, id_not_in_fandom)]

509
2376
2381
2380
2383
2382
2430
2622
3048
3068
3096
3125
3441
3556
3559
4401
5468
5621
5793
6468
6559
6589
6763
6776
6923
7425
7628

In [12]:
to_study.groupby('State').count()

       0  1  2  3  4  Store_id
State
AZ     2  2  2  2  0         2
CA     6  6  6  6  0         6
CO     3  3  3  3  0         3
FL     2  2  2  2  0         2
GA     4  4  4  4  0         4
IA     1  1  1  1  0         1
IL     3  3  3  3  0         3
IN     1  1  1  1  0         1
NM     1  1  1  1  0         1
NV     1  1  1  1  0         1
NY     2  2  2  2  0         2
OH     1  1  1  1  0         1
OK     1  1  1  1  0         1
PA     2  2  2  2  0         2
Po     1  1  1  1  1         1
Sa     1  1  1  1  1         1
TN     1  1  1  1  0         1
TX     6  6  6  6  0         6
VA     1  1  1  1  0         1

In [61]:
to_study[to_study.Store_id==5931]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, State, Store_id]
Index: []

In [62]:
fandom[fandom.State=='PA'].Category.unique()

array(['Walmart Supercenter', 'Walmart', 'Walmart Neighborhood Market'],
      dtype=object)

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('fandom_traitées.csv', parse_dates=['Opening_date', 'Closing_date'])
#df.loc[((df.Opening_date >= '2016-01-31') & ((df.Opening_date<='2017-01-31')))]
df.loc[((df.Closing_date <= '2017-01-31') & ((df.Closing_date>='2016-01-31')))]

,Store_id,State,County_name,County_fips,Town,Town_lat,Town_lng,Street,Category,Opening_date,Closing_date
1383,1818,IL,Kane,17089,Aurora,41.7638,-88.2902,2131 Galena Blvd,Walmart,NaT,2016-10-28
4715,3814,AK,Juneau,2110,Juneau,58.4546,-134.1739,6525 Glacier Hwy,Walmart Supercenter,2007-09-12,2016-02-05
4746,2896,CT,New Haven,9009,Derby,41.3265,-73.0833,656 Derby Ave,Walmart,NaT,2016-07-31
4793,156,MO,Pemiscot,29155,Caruthersville,36.1814,-89.6664,156 W 3rd St,Walmart,1900-01-01,2017-01-20
4796,946,MO,Wayne,29223,Piedmont,37.1491,-90.6970,#15 Hals Plaza Dr,Walmart,1987-02-03,2017-01-20
4843,1092,TX,Terry,48445,Brownfield,33.1757,-102.2730,1405 Tahoka Rd,Walmart,1987-11-03,2017-01-31
4856,1050,TX,Dawson,48115,Lamesa,32.7333,-101.9541,2406 Lubbock Hwy,Walmart,1987-01-13,2016-10-01